# WEB SCRAPING – ASSIGNMENT 2

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0rc9)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [112]:
# First connect to the driver
driver = webdriver.Chrome("C:\\Users\\hp\Desktop\\task\\driver\\chromedriver.exe")

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

This task will be done in following steps: 
1. First get the webpage https://www.naukri.com/ 
2.	Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field. 
3.	Then click the search button. 
4.	Then scrape the data for the first 10 jobs results you get. 
5.	Finally create a dataframe of the scraped data.

In [35]:
# opening the naukri.com page and automated chrome browser
driver.get("https://www.naukri.com/")

In [10]:
# entering designation 

desig=driver.find_element(By.CLASS_NAME, "suggestor-input ")
desig.send_keys('Data Analyst')

In [11]:
# enter location

loc=driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
loc.send_keys('Bangalore')

In [12]:
# entering search button

search=driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [13]:
# create empty list, scrap the data for the job reasults.

job_title=[]
job_location=[]
company_name=[]
experiance_required=[]

In [14]:
# scraping job title 

title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
# scraping job location

loc_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc_tags[0:10]:
    loc=i.text
    job_location.append(loc)
    
    
# scraping company name

comp_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in comp_tags[0:10]:
    comp=i.text
    company_name.append(comp)
    
    
    
# scraping experiance

exp_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_tags[0:10]:
    exp=i.text
    experiance_required.append(exp)

In [15]:
# print the length of scrap data

print(len(job_title), len(job_location), len(company_name), len(experiance_required))

10 10 10 10

MAKE A DATA FRAME

In [16]:
# creating a data frame

df = pd.DataFrame({'JOB_TITLE':job_title, 'JOB_LOCATION':job_location, 'COMPANY_NAME':company_name, 'EXP_REQUIRED':experiance_required})
df

,JOB_TITLE,JOB_LOCATION,COMPANY_NAME,EXP_REQUIRED
0,Senior Data Analyst,"Bangalore/Bengaluru, Chennai",Latentview,3-6 Yrs
1,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs
2,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,3-8 Yrs
3,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,5-10 Yrs
4,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
5,Data Analytics and Interpretation Business Ana...,Bangalore/Bengaluru,Accenture,6-8 Yrs
6,Data Analyst,Bangalore/Bengaluru,ANZ,7-12 Yrs
7,Data Analyst,Bangalore/Bengaluru,ANZ,7-12 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Goalreify Ventures,3-6 Yrs
9,Senior Data Analyst,Bangalore/Bengaluru,Goalreify Ventures,4-6 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

This task will be done in following steps: 
1. First get the webpage https://www.naukri.com/ 
2.	Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field. 
3.	Then click the search button. 
4.	Then scrape the data for the first 10 jobs results you get. 
5.	Finally create a dataframe of the scraped data.

In [26]:
# entering designation 

desig_new = driver.find_element(By.CLASS_NAME, "suggestor-input ")
desig_new.send_keys('Data Scientist')

In [27]:
# enter location

loc_new=driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
loc_new.send_keys('Bangalore')

In [28]:
# entering search button

search1=driver.find_element(By.CLASS_NAME, "qsbSubmit")
search1.click()

In [29]:
# create empty list, scrap the data for the job reasults.

job_title_1=[]
job_location_1=[]
company_name_1=[]
experiance_required_1=[]

In [30]:
# scraping job title 

T_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in T_tags[0:10]:
    title_1=i.text
    job_title_1.append(title_1)
    
    
# scraping job location

Lc_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in Lc_tags[0:10]:
    loc_1=i.text
    job_location_1.append(loc_1)
    
    
# scraping company name

Cmp_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in Cmp_tags[0:10]:
    comp_1=i.text
    company_name_1.append(comp_1)
    
    
    
# scraping experiance

expri_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in expri_tags[0:10]:
    exp_1=i.text
    experiance_required_1.append(exp_1)

In [31]:
print(len(job_title_1), len(job_location_1), len(company_name_1), len(experiance_required_1))

10 10 10 10

In [32]:
# creating a data frame

df_1 = pd.DataFrame({'JOB_TITLE':job_title_1, 'JOB_LOCATION':job_location_1, 'COMPANY_NAME':company_name_1, 'EXP_REQUIRED':experiance_required_1})
df_1

,JOB_TITLE,JOB_LOCATION,COMPANY_NAME,EXP_REQUIRED
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
1,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,4-7 Yrs
2,"Mongodb Database Administrator, Maria DB or Ca...","Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Mphasis,9-14 Yrs
3,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
4,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech,5-9 Yrs
5,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Tech Mahindra,10-14 Yrs
6,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group,5-10 Yrs
7,Industry X - Software Engineering,Bangalore/Bengaluru,Accenture,3-5 Yrs
8,Module Lead - BIDW,Bangalore/Bengaluru,Mphasis,5-8 Yrs
9,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,4-8 Yrs

# Q3: In this question you have to scrape data using the filters available on the webpage.

You have to use the location and salary filter. 
You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs 
The task will be done as shown in the below steps: 
1.	first get the webpage https://www.naukri.com/ 
2.	Enter “Data Scientist” in “Skill, Designations, and Companies” field. 
3.	Then click the search button. 
4.	Then apply the location filter and salary filter by checking the respective boxes 5. Then scrape the data for the first 10 jobs results you get. 
6. Finally create a dataframe of the scraped data.

In [36]:
# entering designation 

desig_new_1 = driver.find_element(By.CLASS_NAME, "suggestor-input ")
desig_new_1.send_keys('Data Scientist')

In [6]:
# enter location

#loc_new_1=driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
#loc_new_1.send_keys('Delhi/NCR')

In [37]:
# entering search button

search_1=driver.find_element(By.CLASS_NAME, "qsbSubmit")
search_1.click()

In [96]:
# create empty list, scrap the data for the job reasults.

job_title_2=[]
job_location_2=[]
company_name_2=[]
experiance_required_2=[]
salary=[]

In [97]:
# scraping job title 

jobs_tit = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in jobs_tit[0:10]:
    tit = i.text
    job_title_2.append(tit)
    
    
# scraping job location

Loca  =driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in Loca[0:10]:
    locs=i.text
    job_location_2.append(locs)
    
    
# scraping company name

Cmp_name = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in Cmp_name[0:10]:
    name=i.text
    company_name_2.append(name)
    
    
    
# scraping experiance

exp = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp[0:10]:
    ex=i.text
    experiance_required_2.append(ex)
    
    
# scraping salary

sal = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi salary"]//span')
for i in sal[0:10]:
    sa=i.text
    salary.append(sa)

In [98]:
print(len(job_title_2), len(job_location_2), len(company_name_2), len(experiance_required_2), len(salary))

10 10 10 10 10

MAKE DATAFRAME

In [99]:
# make dataframe

df_2 = pd.DataFrame({'JOB_TITLE':job_title_2, 'JOB_LOCATION':job_location_2, 'COMPANY_NAME':company_name_2, 'EXP_REQUIRED':experiance_required_2, 'SALARY':salary})
df_2

,JOB_TITLE,JOB_LOCATION,COMPANY_NAME,EXP_REQUIRED,SALARY
0,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs,"3,00,000 - 4,50,000 PA."
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs,Not disclosed
2,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs,Not disclosed
3,Data Scientist,Gurgaon/Gurugram,IHS Markit,3-6 Yrs,Not disclosed
4,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs,Not disclosed
5,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs,Not disclosed
6,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs,"5,00,000 - 12,00,000 PA."
7,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs,Not disclosed
8,Data Scientist,Noida,NGI Ventures,0-5 Yrs,Not disclosed
9,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs,Not disclosed

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes

1.	Brand 
2.	Product Description 
3.	Price 
The attributes which you have to scrape is ticked marked in the below image

To scrape the data you have to go through following steps: 
1.	Go to Flipkart webpage by url : https://www.flipkart.com/ 
2.	Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon 
3.	After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual. 
4.	After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it. 
5.	Now scrape data from this page as usual 
6.	Repeat this until you get data for 100 sunglasses.

In [53]:
# opening the flipkart.com page and automated chrome browser
driver.get("https://www.flipkart.com/")

In [54]:
product=driver.find_element(By.CLASS_NAME, "_3704LK")
product.send_keys('sunglasses')

In [55]:
search=driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search.click()

In [76]:
# scraping next page title

brand_name = [] # empty list
features = []
price = []
discount =[]

In [77]:
start=0
end=3

for page in range(start, end):
    
    
    brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        #bn=i.text
        brand_name.append(i.text)
#next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
#next_button.click()    
        
    featu = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in featu:
        #fn=i.text
        features.append(i.text)
        
        
    pric = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pric:
        #pr=i.text
        price.append(i.text)
        
        
    disc = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in disc:
        #dp=i.text
        discount.append(i.text)
        
# scrap data from next page    
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [82]:
print(len(brand_name), len(features), len(price), len(discount))

120 120 120 120

In [81]:
# make dataframe

df_3 = pd.DataFrame({'SUNGLASS':brand_name, 'FEATURES':features, 'PRICE':price, 'DISCOUNT':discount})
df_3

,SUNGLASS,FEATURES,PRICE,DISCOUNT
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹899,55% off
1,ROZZETTA CRAFT,"UV Protection, Gradient Butterfly, Shield Sung...",₹255,91% off
2,PIRASO,UV Protection Butterfly Sunglasses (60),₹280,89% off
3,PIRASO,"UV Protection Rectangular, Over-sized Sunglass...",₹250,91% off
4,NuVew,"UV Protection Round, Shield Sunglasses (55)",₹79,92% off
...,...,...,...,...
115,FOSSIL,Others Aviator Sunglasses (58),"₹2,899",66% off
116,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹899,55% off
117,ROZZETTA CRAFT,"UV Protection, Gradient Butterfly, Shield Sung...",₹255,91% off
118,PIRASO,UV Protection Butterfly Sunglasses (60),₹280,89% off
119,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹801,59% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone

This task will be done in following steps: 
1. First get the webpage  https://www.flipkart.com/ 
2.	Enter “iphone 11” in “Search” field .  
3.	Then click the search button.

1.	Rating 
2.	Review summary 
3.	Full review 
4.	You have to scrape this data for first 100 reviews

In [9]:
# searching element

product=driver.find_element(By.CLASS_NAME, "_3704LK")
product.send_keys('iphone 11 mobile')

In [10]:
# search product by click

search=driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search.click()

In [27]:
# scrap mobile rating

i_ph_rating=[]

In [28]:
# scraping i phone rating from the given page
st=0
en=4


for page in range(st, en):
    
    rating = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK"]')
    for i in rating:
        i_ph_rating.append(i.text)
        
    # scrap data from next page    
    next_button_1 = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button_1.click()
    time.sleep(10)

In [29]:
print(i_ph_rating[0:100])

['4.4', '4.4', '4.5', '4.5', '4.4', '4.6', '3.9', '4.6', '4.6', '4.6', '4.5', '4.6', '4.6', '4.6', '4.6', '4.4', '4.4', '4.6', '4.5', '4.5', '4.7', '4.7', '4.7', '4.6', '4.4', '4.6', '4.7', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.5', '4.7', '4.7', '4.5', '4.6', '4.6', '4.6', '4.7', '4.4', '4.6', '4.4', '3.9', '3.9', '4.4', '4.4', '4.6', '4.7', '4.6', '4.4', '4.4', '4.5', '4.5', '4.4', '4.6', '3.9', '4.6', '4.6', '4.6', '4.5', '4.6', '4.6', '4.6', '4.6', '4.4', '4.4', '4.6', '4.5', '4.5', '4.7', '4.7', '4.7', '4.6', '4.4', '4.6', '4.7', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.6', '4.5', '4.7', '4.7', '4.5', '4.6', '4.6']

In [38]:
# scrap mobile review

ph_review_sum=[]

In [39]:
# scraping i phone review summary from the given page
sr=0
ed=12


for page in range(sr, ed):
    
    review = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        ph_review_sum.append(i.text)
        
    # scrap data from next page    
    next_button_1 = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button_1.click()
    time.sleep(5)

In [41]:
#ph_review_sum[0:100]
ph_review_sum[0:20]

['Perfect product!',
 'Terrific',
 'Value-for-money',
 'Wonderful',
 'Good quality product',
 'Perfect product!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Perfect product!',
 'Terrific',
 'Value-for-money',
 'Wonderful',
 'Good quality product',
 'Perfect product!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Perfect product!',
 'Terrific',
 'Value-for-money',
 'Wonderful']

In [42]:
# scrap mobile full review

ph_full_review=[]

In [43]:
# scraping i phone full review  from the given page
sa=0
ee=12


for page in range(sa, ee):
    
    full_review = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_review:
        ph_full_review.append(i.text)
        
    # scrap data from next page    
    next_button_2 = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button_2.click()
    time.sleep(5)

In [84]:
ph_full_review[0:100]

["After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...\nRead full review',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Nice product..just love it',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Fantastic and prompt delivery.',
 "After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...\nRead full review',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Nice product..just love it',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Fantastic and prompt delivery.',
 "After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...\nRead full review',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Nice product..just love it',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Fantastic and prompt delivery.',
 "After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...\nRead full review',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Nice product..just love it',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Fantastic and prompt delivery.',
 "After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...\nRead full review',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Nice product..just love it',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Fantastic and prompt delivery.',
 "After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...\nRead full review',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Nice product..just love it',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Fantastic and prompt delivery.',
 "After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...\nRead full review',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Nice product..just love it',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Fantastic and prompt delivery.',
 "After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...\nRead full review',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Nice product..just love it',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Fantastic and prompt delivery.',
 "After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...\nRead full review',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Nice product..just love it',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Fantastic and prompt delivery.',
 "After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...\nRead full review',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Nice product..just love it',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Fantastic and prompt delivery.',
 "After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...\nRead full review',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Nice product..just love it',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Fantastic and prompt delivery.',
 "After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...\nRead full review',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Nice product..just love it',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Fantastic and prompt delivery.']

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker:

1.	Brand 
2.	Product Description 
3.	Price

In [97]:
# opening the flipkart.com page and automated chrome browser

driver.get("https://www.flipkart.com/")

In [98]:
# searching element

product=driver.find_element(By.CLASS_NAME, "_3704LK")
product.send_keys('sneakers')

In [99]:
# search product by click

search=driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search.click()

In [172]:
# scrap sneakers brand

snk_brand=[]

In [173]:
# scraping sneakers brand from the given page
st=0
ed=3


for page in range(st, ed):
    
    sneakers = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in sneakers[0:-7]:
        snk_brand.append(i.text)
        
    # scrap data from next page    
    next_button_3 = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button_3.click()
    time.sleep(5)

In [174]:
snk_brand

['K- FOOTLANCE',
 'BRUTON',
 'BRUTON',
 'Wildcraft',
 'Sparx',
 'PUMA',
 'Elevarse',
 'BIRDE',
 'Shozie',
 'K- FOOTLANCE',
 'Shozie',
 'RapidBox',
 'Deals4you',
 'aadi',
 'aadi',
 'Krors',
 'World Wear Footwear',
 'asian',
 'WOODLAND',
 'Layasa',
 'HRX by Hrithik Roshan',
 'World Wear Footwear',
 'World Wear Footwear',
 'Sparx',
 'BRUTON',
 'Chevit',
 'BRUTON',
 'Krors',
 'RapidBox',
 'Layasa',
 'Shozie',
 'bacca bucci',
 'Layasa',
 'asian',
 'PUMA',
 'RED TAPE',
 'BRUTON',
 'BRUTON',
 'World Wear Footwear',
 'RED TAPE',
 'Labbin',
 'World Wear Footwear',
 'TR',
 'Magnolia',
 'luxury fashion',
 'World Wear Footwear',
 'Kraasa',
 'BRUTON',
 'K- FOOTLANCE',
 'PUMA',
 'Magnolia',
 'Shozie',
 'kardam&sons',
 'Rzisbo',
 "K' Footlance",
 'BRUTON',
 'BRUTON',
 'aadi',
 'SCATCHITE',
 'BRUTON',
 'Extoes',
 'aadi',
 'Magnolia',
 'tigonis',
 'bacca bucci',
 'World Wear Footwear',
 'K- FOOTLANCE',
 'BRUTON',
 'BRUTON',
 'Wildcraft',
 'Sparx',
 'PUMA',
 'Elevarse',
 'BIRDE',
 'Shozie',
 'K- FOOTLANCE',
 'Shozie',
 'RapidBox',
 'Deals4you',
 'aadi',
 'aadi',
 'Krors',
 'World Wear Footwear',
 'asian',
 'WOODLAND',
 'Layasa',
 'HRX by Hrithik Roshan',
 'World Wear Footwear',
 'World Wear Footwear',
 'Sparx',
 'BRUTON',
 'Chevit',
 'BRUTON',
 'Krors',
 'RapidBox',
 'Layasa',
 'Shozie',
 'Xylus',
 'Layasa']

In [203]:
# scrap sneakers features

snk_featu=[]

In [204]:
# scraping sneakers features from the given page
s=0
e=3


for page in range(s, e):
    
    sneakers_fea = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in sneakers_fea[0:-6]:
        snk_featu.append(i.text)
        
    # scrap data from next page    
    next_button_4 = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button_4.click()
    time.sleep(5)

In [205]:
snk_featu

['Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 '2 Combo Sneaker Shoes Sneakers For Men',
 'True Black Shoe Sneakers For Men',
 'Sneakers For Men',
 '2 Combo Sneaker Shoes Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Premium Casual Shoes White Sneakers For Men',
 'RS-FAST GO FOR Sneakers For Men',
 'Sneakers For Men',
 'Synthetic Leather Casual Sneaker shoes for Mens Sneaker...',
 'Sneakers For Men',
 'Sneakers For Women',
 'Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash Vulc Sneakers For Men',
 'Sneakers For Men',
 'Latest Collection-1138 Stylish Casual Sports Sneakers F...',
 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Latest Exclusive Affordable Collection of Trendy & Styl...',
 'SM-322 Sneakers For Men',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Sneakers For Men',
 "Men's Casual Walking Partywear Sneakers Running White S...",
 'Sneakers For Men',
 'Sneakers For Women',
 'Sneakers For Men',
 'STREET SAMURAI High top Flat high Street Fashion Sneake...',
 'Sneakers For Men',
 "Newton-01 Men's Lightweight Running Shoes Sneakers For ...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'Latest Collection-1215 Stylish Casual Sports Sneakers F...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Latest Collection Black-349 Trendy & Stylish Casual Sne...',
 'Sneakers For Men',
 'luxuryfashion fashionable casual sneaker shoes white Sn...',
 'Latest Collection-1216 Stylish Casual Sports Sneakers F...',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 '2 Combo Sneaker Shoes Sneakers For Men',
 'Sneakers For Women',
 'Sneakers For Men',
 'Sneakers For Men',
 'Morden Comfertable Sneakers For Men',
 'Sneakers For Men',
 'Fashion and Stylish Soft Ultralight Lace Up Sneakers Ca...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'DEMON High-top casual shoe with Flat outsole high Stree...',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneaker Sneakers For Men',
 'Black Gym/Walking/Running Sports Sneakers For Men',
 'Sneakers For Men',
 'Tigonis Casuals For Men Sneakers For Men (White) Sneake...',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 "Killer Men's Black Faux Leather Casual Lace Up Sneakers...",
 'Exclusive Affordable Collection of Trendy & Stylish Cas...',
 'Electron E Pro Sneakers For Men',
 'Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 '2 Combo Sneaker Shoes Sneakers For Men',
 'True Black Shoe Sneakers For Men',
 'Sneakers For Men',
 '2 Combo Sneaker Shoes Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Premium Casual Shoes White Sneakers For Men',
 'RS-FAST GO FOR Sneakers For Men',
 'Sneakers For Men',
 'Synthetic Leather Casual Sneaker shoes for Mens Sneaker...',
 'Sneakers For Men',
 'Sneakers For Women',
 'Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash Vulc Sneakers For Men',
 'Sneakers For Men',
 'Latest Collection-1138 Stylish Casual Sports Sneakers F...',
 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Latest Exclusive Affordable Collection of Trendy & Styl...',
 'Casual Sneakers White Shoes For Girls And Sneakers For ...',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Sneakers For Men',
 'SM-322 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Women',
 'Sneakers For Men',
 "Men's Casual Walking Partywear Sneakers Running White S...",
 'Sneakers For Men']

In [181]:
# scrap sneakers price
snk_price=[]

In [182]:
# scraping sneakers features from the given page
st_t=0
en_d=3


for page in range(st_t, en_d):
    
    sneakers_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in sneakers_price[0:-7]:
        snk_price.append(i.text)
        
    # scrap data from next page    
    next_button_5 = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button_5.click()
    time.sleep(5)

In [183]:
snk_price

['₹239',
 '₹239',
 '₹399',
 '₹1,069',
 '₹583',
 '₹4,699',
 '₹233',
 '₹359',
 '₹287',
 '₹319',
 '₹260',
 '₹392',
 '₹344',
 '₹239',
 '₹216',
 '₹319',
 '₹143',
 '₹473',
 '₹1,298',
 '₹399',
 '₹1,275',
 '₹319',
 '₹143',
 '₹773',
 '₹393',
 '₹398',
 '₹399',
 '₹336',
 '₹449',
 '₹399',
 '₹288',
 '₹1,320',
 '₹319',
 '₹530',
 '₹2,249',
 '₹899',
 '₹191',
 '₹143',
 '₹143',
 '₹899',
 '₹319',
 '₹179',
 '₹291',
 '₹239',
 '₹1,159',
 '₹143',
 '₹342',
 '₹195',
 '₹299',
 '₹1,749',
 '₹239',
 '₹318',
 '₹303',
 '₹329',
 '₹239',
 '₹399',
 '₹399',
 '₹239',
 '₹288',
 '₹206',
 '₹231',
 '₹234',
 '₹239',
 '₹399',
 '₹1,414',
 '₹239',
 '₹239',
 '₹239',
 '₹399',
 '₹1,069',
 '₹583',
 '₹4,699',
 '₹233',
 '₹359',
 '₹287',
 '₹319',
 '₹260',
 '₹392',
 '₹344',
 '₹239',
 '₹216',
 '₹319',
 '₹143',
 '₹473',
 '₹1,298',
 '₹773',
 '₹1,275',
 '₹319',
 '₹143',
 '₹336',
 '₹393',
 '₹398',
 '₹399',
 '₹1,320',
 '₹449',
 '₹399',
 '₹288',
 '₹358',
 '₹319']

In [177]:
# scrap sneakers discount percentage

snk_disc=[]

In [178]:
# scraping sneakers features from the given page
s_tt=0
e_nd=3


for page in range(s_tt, e_nd):
    
    sneakers_dis = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in sneakers_dis[0:-7]:
        snk_disc.append(i.text)
        
    # scrap data from next page    
    next_button_6 = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button_6.click()
    time.sleep(5)

In [179]:
snk_disc

['59% off',
 '40% off',
 '82% off',
 '85% off',
 '76% off',
 '71% off',
 '82% off',
 '68% off',
 '64% off',
 '80% off',
 '76% off',
 '70% off',
 '71% off',
 '65% off',
 '84% off',
 '76% off',
 '65% off',
 '76% off',
 '68% off',
 '84% off',
 '67% off',
 '76% off',
 '69% off',
 '84% off',
 '88% off',
 '71% off',
 '84% off',
 '53% off',
 '76% off',
 '76% off',
 '73% off',
 '59% off',
 '52% off',
 '76% off',
 '81% off',
 '84% off',
 '58% off',
 '35% off',
 '53% off',
 '70% off',
 '76% off',
 '58% off',
 '68% off',
 '73% off',
 '60% off',
 '77% off',
 '88% off',
 '78% off',
 '68% off',
 '71% off',
 '40% off',
 '62% off',
 '32% off',
 '74% off',
 '84% off',
 '71% off',
 '66% off',
 '84% off',
 '79% off',
 '84% off',
 '62% off',
 '55% off',
 '60% off',
 '71% off',
 '64% off',
 '68% off',
 '59% off',
 '40% off',
 '82% off',
 '85% off',
 '76% off',
 '71% off',
 '82% off',
 '60% off',
 '64% off',
 '80% off',
 '76% off',
 '70% off',
 '71% off',
 '65% off',
 '84% off',
 '76% off',
 '65% off',
 '76% off',
 '68% off',
 '84% off',
 '67% off',
 '76% off',
 '69% off',
 '84% off',
 '88% off',
 '71% off',
 '84% off',
 '53% off',
 '76% off',
 '76% off',
 '73% off',
 '59% off',
 '52% off']

In [206]:
print(len(snk_brand), len(snk_featu), len(snk_price), len(snk_disc))

99 97 99 99

# Q7: Go to the link - https://www.myntra.com/shoes Set second Price filter and  Color filter to “Black”.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [4]:
# opening the Myntra.com page and automated chrome browser

driver.get("https://www.myntra.com/shoes")

In [54]:
# empty list

shoes_brand=[]

In [55]:
# scraping shoes brand from the given page
a=0
b=4


for page in range(a, b):
    
    shoes = driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in shoes[0:-25]:
        shoes_brand.append(i.text)
        
    # scrap data from next page    
    next_button_7 = driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    next_button_7.click()
    time.sleep(5)

In [56]:
len(shoes_brand)

100

In [32]:
#shoes_brand

In [60]:
# empty list

shoes_desc=[]

In [61]:
# scraping shoes description from the given page
c=0
d=4


for page in range(c, d):
    
    shoes_ds = driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in shoes_ds[0:-25]:
        shoes_desc.append(i.text)
        
    # scrap data from next page    
    next_button_8 = driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    next_button_8.click()
    time.sleep(5)

In [62]:
len(shoes_desc)

100

In [64]:
#shoes_desc

In [74]:
# empty list

shoes_price=[]

In [75]:
# scraping shoes price from the given page
e=0
f=4


for page in range(e, f):
    
    shoes_pri = driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in shoes_pri[0:-25]:
        shoes_price.append(i.text)
        
    # scrap data from next page    
    next_button_9 = driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    next_button_9.click()
    time.sleep(5)

In [76]:
len(shoes_price)

100

In [78]:
#shoes_price

MAKE DATA FRAME

In [79]:
# make dataframe

df_4 = pd.DataFrame({'SHOES_BRAND':shoes_brand, 'DESCRIPTION':shoes_desc, 'SHOES_PRICE':shoes_price})
df_4

   SHOES_BRAND                     DESCRIPTION                SHOES_PRICE
0     Skechers  High-Top Platform Heeled Boots                   Rs. 7999
1     Skechers         Men Solid Leather Boots  Rs. 6750Rs. 7500(10% OFF)
2         Puma        Women Block Heeled Boots                  Rs. 10999
3       ADIDAS          Men Leather Flat Boots                   Rs. 5990
4     Skechers              Block Heeled Boots  Rs. 8075Rs. 9500(15% OFF)
..         ...                             ...                        ...
95      Clarks       Men Leather Driving Shoes  Rs. 5999Rs. 9999(40% OFF)
96        TOMS           Women Leather Loafers  Rs. 8910Rs. 9900(10% OFF)
97       Ruosh     Madrid Oiled Open Toe Flats                   Rs. 6499
98    DAVINCHI              Leather Calf Boots                  Rs. 11990
99     ATESBER              Women Heeled Boots  Rs. 8010Rs. 8900(10% OFF)

[100 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.

Then set CPU Type filter to “Intel Core i7” 
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop: 
1. Title 
2.	Ratings

In [113]:
# opening the amazon.in page and automated chrome browser
driver.get("https://www.amazon.in/")

In [166]:
# empty list

laptop_title=[]
laptop_price=[]
laptop_rating=[]

In [167]:
# scraping laptop title from the given page

lap_tit = driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in lap_tit[0:10]:
    lt=i.text
    laptop_title.append(lt)
    
    
# scraping laptop price

lap_pric = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in lap_pric[0:10]:
    lp=i.text
    laptop_price.append(lp)
    
    
# scraping company name

lap_rati = driver.find_elements(By.XPATH, '//span[@class="a-size-base s-underline-text"]')
for i in lap_rati[0:10]:
    lr=i.text
    laptop_rating.append(lr)
    
time.sleep(5)

In [147]:
laptop_title

['Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD IPS 400Nits 2-in1 Touch Convertible Laptop (16GB/1TB SSD/Windows 11/MS Office 2021/Iris Xe Graphics/2 Yr Warranty/Backlit Kb/Black/0.997 kg, 4ZR1F38027)',
 'Lenovo Legion 5 Intel Core i7 11th Gen 15.6" (39.62cm) FHD IPS Gaming Laptop (16GB/512GB SSD/4GB NVIDIA RTX 3050/120Hz/Windows 11/Office 2021/Backlit/3months Game Pass/Phantom Blue/2.4Kg), 82JK00GCIN',
 'ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FHD OLED, Intel EVO Core i7-1165G7 11th Gen, Thin and Light Laptop (16GB/1TB SSD/Iris Xe Graphics/Windows 11/Office 2021/Mist/1.14 kg), UX325EA-KG701WS',
 'Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'HP Pavilion Plus, 12th Gen Intel Core i7 16GB RAM/1TB SSD 14 inch(35.6 cm),OLED,400 nits,UWVA, Eye Safe Laptop/Intel Iris Xe Graphics/Backlit KB/B&O/FPR/Win 11/Alexa Built-in/MSO 2021, 14-eh0024TU',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD,IPS, Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa Built-in/MSO/1.52Kg) 14-dy1050TU, Spruce Blue',
 'Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 14 inches FHD IPS 2-in-1 Touchscreen Business Laptop (16GB/512GB SSD/Windows 10/MS Office/Digital Pen/Fingerprint Reader/Slate Grey/1.43Kg), 82BH004HIN',
 'ASUS TUF Gaming F15 (2022), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-12700H 12th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/512GB SSD/Windows 11/Gray/2.2 kg), FX577ZE-HN056W',
 'Hp Pavilion X360 11Th Gen Intel Core I7 14 Inches Fhd Multitouch 2In1 Laptop (16Gb Ram/512Gb Ssd/B&O/Windows 11 Home/Fpr/Backlit Kb/Intel Iris Xe Graphics/Pen/Alexa/Ms Office/Silver/1.52Kg)14-Dy1047Tu']

In [146]:
laptop_price

['1,00,000',
 '1,09,990',
 '93,290',
 '79,990',
 '77,990',
 '86,990',
 '80,990',
 '1,11,000',
 '99,990',
 '82,490']

In [168]:
laptop_rating

['84', '8', '12', '62', '39', '4', '89', '10', '26', '656']

# Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

The above task will be, done as shown in the below steps: 
1. First get the webpage https://www.ambitionbox.com/ 
2.	Click on the salaries option as shown in the image. 
3.	After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”. 
4.	Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required. 
5.	Store the data in a dataframe.

In [169]:
# opening the page and automated chrome browser
driver.get("https://www.ambitionbox.com/")

In [217]:
# empty list

company_name=[]
exp_req=[]
min_max_salary=[]
avg_salary=[]

In [218]:
# scraping  salary data of data scientist from the given page

c_name = driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in c_name[0:10]:
    cm=i.text
    company_name.append(cm)
    
        
    
# scraping experiance

ds_exp = driver.find_elements(By.XPATH, '//div[@class="sbold-list-header"]')
for i in ds_exp[0:10]:
    dp=i.text
    exp_req.append(dp)
    
    
# scraping minimum and maximum salary

min_max_sal = driver.find_elements(By.XPATH, '//div[@class="salary-values"]')
for i in min_max_sal[0:10]:
    ms=i.text
    min_max_salary.append(ms)
    
    
# scraping average salary

avg_sal = driver.find_elements(By.XPATH, '//p[@class="averageCtc"]')
for i in avg_sal[0:10]:
    avs=i.text
    avg_salary.append(avs)
    
    
    
    

    
time.sleep(5)

In [219]:
company_name

['Walmart\nData Scientist Salary\n3-4 yrs experience (based on 24 salaries)',
 'Ab Inbev\nData Scientist Salary\n2-4 yrs experience (based on 59 salaries)',
 'Optum\nData Scientist Salary\n2-4 yrs experience (based on 49 salaries)',
 'ZS\nData Scientist Salary\n1-2 yrs experience (based on 35 salaries)',
 'Fractal Analytics\nData Scientist Salary\n2-4 yrs experience (based on 118 salaries)',
 'Sigmoid Analytics\nData Scientist Salary\n1 yr experience (based on 10 salaries)',
 'Tiger Analytics\nData Scientist Salary\n2-4 yrs experience (based on 70 salaries)',
 'Legato Health Technologies\nData Scientist Salary\n4 yrs experience (based on 11 salaries)',
 'HSBC\nData Scientist Salary\n4 yrs experience (based on 10 salaries)',
 'Tredence\nData Scientist Salary\n3 yrs experience (based on 14 salaries)']

In [176]:
exp_req

['3-4 yrs experience (based on 24 salaries)',
 '2-4 yrs experience (based on 59 salaries)',
 '2-4 yrs experience (based on 49 salaries)',
 '1-2 yrs experience (based on 35 salaries)',
 '2-4 yrs experience (based on 118 salaries)',
 '1 yr experience (based on 10 salaries)',
 '2-4 yrs experience (based on 70 salaries)',
 '4 yrs experience (based on 11 salaries)',
 '4 yrs experience (based on 10 salaries)',
 '3 yrs experience (based on 14 salaries)']

In [220]:
min_max_salary

['₹ 25.0L\n₹ 45.0L',
 '₹ 15.0L\n₹ 26.0L',
 '₹ 11.0L\n₹ 22.6L',
 '₹ 11.0L\n₹ 22.0L',
 '₹ 9.0L\n₹ 23.0L',
 '₹ 12.7L\n₹ 19.7L',
 '₹ 9.0L\n₹ 20.0L',
 '₹ 11.0L\n₹ 20.0L',
 '₹ 12.0L\n₹ 18.0L',
 '₹ 8.8L\n₹ 17.5L']

In [221]:
avg_salary

['₹ 32.2L',
 '₹ 19.8L',
 '₹ 16.4L',
 '₹ 15.9L',
 '₹ 15.5L',
 '₹ 14.7L',
 '₹ 14.6L',
 '₹ 14.5L',
 '₹ 14.0L',
 '₹ 13.9L']

In [222]:
# length of list
print(len(company_name), len(exp_req), len(min_max_salary), len(avg_salary))

10 10 10 10

MAKING DATA FRAME

In [223]:
# make dataframe

df_5 = pd.DataFrame({'COMPANY_NAME':company_name, 'EXPERIANCE_REQUIRED':exp_req, 'MIN_MAX_SALARY':min_max_salary, 'AVERAGE_SALARY':avg_salary})
df_5

,COMPANY_NAME,EXPERIANCE_REQUIRED,MIN_MAX_SALARY,AVERAGE_SALARY
0,Walmart\nData Scientist Salary\n3-4 yrs experi...,3-4 yrs experience (based on 24 salaries),₹ 25.0L\n₹ 45.0L,₹ 32.2L
1,Ab Inbev\nData Scientist Salary\n2-4 yrs exper...,2-4 yrs experience (based on 59 salaries),₹ 15.0L\n₹ 26.0L,₹ 19.8L
2,Optum\nData Scientist Salary\n2-4 yrs experien...,2-4 yrs experience (based on 49 salaries),₹ 11.0L\n₹ 22.6L,₹ 16.4L
3,ZS\nData Scientist Salary\n1-2 yrs experience ...,1-2 yrs experience (based on 35 salaries),₹ 11.0L\n₹ 22.0L,₹ 15.9L
4,Fractal Analytics\nData Scientist Salary\n2-4 ...,2-4 yrs experience (based on 118 salaries),₹ 9.0L\n₹ 23.0L,₹ 15.5L
5,Sigmoid Analytics\nData Scientist Salary\n1 yr...,1 yr experience (based on 10 salaries),₹ 12.7L\n₹ 19.7L,₹ 14.7L
6,Tiger Analytics\nData Scientist Salary\n2-4 yr...,2-4 yrs experience (based on 70 salaries),₹ 9.0L\n₹ 20.0L,₹ 14.6L
7,Legato Health Technologies\nData Scientist Sal...,4 yrs experience (based on 11 salaries),₹ 11.0L\n₹ 20.0L,₹ 14.5L
8,HSBC\nData Scientist Salary\n4 yrs experience ...,4 yrs experience (based on 10 salaries),₹ 12.0L\n₹ 18.0L,₹ 14.0L
9,Tredence\nData Scientist Salary\n3 yrs experie...,3 yrs experience (based on 14 salaries),₹ 8.8L\n₹ 17.5L,₹ 13.9L