#                                                ASSIGNMENT-1

#                                          WEB SCRAPING

In [1]:
# First install libraries

!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)

WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)

Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)

WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)

Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)

In [2]:
# import required libraries

from bs4 import BeautifulSoup
import requests

# 1) Write a python program to display all the header tags from wikipedia.org.

In [3]:
# send get request to the webpage server to get the source code of the page

wkpd = requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [4]:
wkpd

In [5]:
# page content

bsup = BeautifulSoup(wkpd.content)
#print(bsup.prettify())

In [10]:


header = bsup.find_all(['h1', 'h2', 'h3'])

for i in header:
    print(i.get_text())

Main Page
Welcome to Wikipedia
From today's featured article
Did you know ...
In the news
On this day
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages
Navigation menu

Personal tools


Namespaces


Views


Search


Navigation


Contribute


Tools


Print/export


In other projects


Languages

# 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)and make data frame.

In [41]:
# send get request to the webpage server to get the source code of the page

imdb_page = requests.get('https://www.imdb.com/chart/top')

In [42]:
imdb_page

In [44]:
soup = BeautifulSoup(imdb_page.content)
#print(soup.prettify())

In [66]:
# multiple movie titles
titles = []

for i in soup.find_all('td', class_="titleColumn"):
    titles.append(i.text.split())
    
    
titles

[['1.', 'The', 'Shawshank', 'Redemption', '(1994)'],
 ['2.', 'The', 'Godfather', '(1972)'],
 ['3.', 'The', 'Dark', 'Knight', '(2008)'],
 ['4.', 'The', 'Godfather', 'Part', 'II', '(1974)'],
 ['5.', '12', 'Angry', 'Men', '(1957)'],
 ['6.', "Schindler's", 'List', '(1993)'],
 ['7.',
  'The',
  'Lord',
  'of',
  'the',
  'Rings:',
  'The',
  'Return',
  'of',
  'the',
  'King',
  '(2003)'],
 ['8.', 'Pulp', 'Fiction', '(1994)'],
 ['9.',
  'The',
  'Lord',
  'of',
  'the',
  'Rings:',
  'The',
  'Fellowship',
  'of',
  'the',
  'Ring',
  '(2001)'],
 ['10.', 'Il', 'buono,', 'il', 'brutto,', 'il', 'cattivo', '(1966)'],
 ['11.', 'Forrest', 'Gump', '(1994)'],
 ['12.', 'Fight', 'Club', '(1999)'],
 ['13.', 'Inception', '(2010)'],
 ['14.',
  'The',
  'Lord',
  'of',
  'the',
  'Rings:',
  'The',
  'Two',
  'Towers',
  '(2002)'],
 ['15.', 'The', 'Empire', 'Strikes', 'Back', '(1980)'],
 ['16.', 'The', 'Matrix', '(1999)'],
 ['17.', 'Goodfellas', '(1990)'],
 ['18.', 'One', 'Flew', 'Over', 'the', "Cuckoo's", 'Nest', '(1975)'],
 ['19.', 'Se7en', '(1995)'],
 ['20.', 'Shichinin', 'no', 'samurai', '(1954)'],
 ['21.', "It's", 'a', 'Wonderful', 'Life', '(1946)'],
 ['22.', 'The', 'Silence', 'of', 'the', 'Lambs', '(1991)'],
 ['23.', 'Cidade', 'de', 'Deus', '(2002)'],
 ['24.', 'Saving', 'Private', 'Ryan', '(1998)'],
 ['25.', 'La', 'vita', 'è', 'bella', '(1997)'],
 ['26.', 'The', 'Green', 'Mile', '(1999)'],
 ['27.', 'Interstellar', '(2014)'],
 ['28.', 'Star', 'Wars', '(1977)'],
 ['29.', 'Terminator', '2:', 'Judgment', 'Day', '(1991)'],
 ['30.', 'Back', 'to', 'the', 'Future', '(1985)'],
 ['31.', 'Sen', 'to', 'Chihiro', 'no', 'kamikakushi', '(2001)'],
 ['32.', 'Psycho', '(1960)'],
 ['33.', 'The', 'Pianist', '(2002)'],
 ['34.', 'Léon', '(1994)'],
 ['35.', 'Gisaengchung', '(2019)'],
 ['36.', 'The', 'Lion', 'King', '(1994)'],
 ['37.', 'Gladiator', '(2000)'],
 ['38.', 'American', 'History', 'X', '(1998)'],
 ['39.', 'The', 'Departed', '(2006)'],
 ['40.', 'The', 'Usual', 'Suspects', '(1995)'],
 ['41.', 'The', 'Prestige', '(2006)'],
 ['42.', 'Casablanca', '(1942)'],
 ['43.', 'Whiplash', '(2014)'],
 ['44.', 'The', 'Intouchables', '(2011)'],
 ['45.', 'Hotaru', 'no', 'haka', '(1988)'],
 ['46.', 'Seppuku', '(1962)'],
 ['47.', 'Modern', 'Times', '(1936)'],
 ['48.', 'Once', 'Upon', 'a', 'Time', 'in', 'the', 'West', '(1968)'],
 ['49.', 'Rear', 'Window', '(1954)'],
 ['50.', 'Alien', '(1979)'],
 ['51.', 'City', 'Lights', '(1931)'],
 ['52.', 'Nuovo', 'Cinema', 'Paradiso', '(1988)'],
 ['53.', 'Apocalypse', 'Now', '(1979)'],
 ['54.', 'Memento', '(2000)'],
 ['55.', 'Raiders', 'of', 'the', 'Lost', 'Ark', '(1981)'],
 ['56.', 'Django', 'Unchained', '(2012)'],
 ['57.', 'WALL·E', '(2008)'],
 ['58.', 'The', 'Lives', 'of', 'Others', '(2006)'],
 ['59.', 'Sunset', 'Blvd.', '(1950)'],
 ['60.', 'Paths', 'of', 'Glory', '(1957)'],
 ['61.', 'The', 'Shining', '(1980)'],
 ['62.', 'The', 'Great', 'Dictator', '(1940)'],
 ['63.', 'Avengers:', 'Infinity', 'War', '(2018)'],
 ['64.', 'Witness', 'for', 'the', 'Prosecution', '(1957)'],
 ['65.', 'Aliens', '(1986)'],
 ['66.', 'American', 'Beauty', '(1999)'],
 ['67.', 'Spider-Man:', 'Into', 'the', 'Spider-Verse', '(2018)'],
 ['68.', 'Top', 'Gun:', 'Maverick', '(2022)'],
 ['69.',
  'Dr.',
  'Strangelove',
  'or:',
  'How',
  'I',
  'Learned',
  'to',
  'Stop',
  'Worrying',
  'and',
  'Love',
  'the',
  'Bomb',
  '(1964)'],
 ['70.', 'The', 'Dark', 'Knight', 'Rises', '(2012)'],
 ['71.', 'Oldeuboi', '(2003)'],
 ['72.', 'Joker', '(2019)'],
 ['73.', 'Amadeus', '(1984)'],
 ['74.', 'Braveheart', '(1995)'],
 ['75.', 'Toy', 'Story', '(1995)'],
 ['76.', 'Coco', '(2017)'],
 ['77.', 'Inglourious', 'Basterds', '(2009)'],
 ['78.', 'Das', 'Boot', '(1981)'],
 ['79.', 'Avengers:', 'Endgame', '(2019)'],
 ['80.', 'Mononoke-hime', '(1997)'],
 ['81.', 'Once', 'Upon', 'a', 'Time', 'in', 'America', '(1984)'],
 ['82.', 'Good', 'Will', 'Hunting', '(1997)'],
 ['83.', 'Kimi', 'no', 'na', 'wa.', '(2016)'],
 ['84.', 'Requiem', 'for', 'a', 'Dream', '(2000)'],
 ['85.', 'Toy', 'Story', '3', '(2010)'],
 ['86.', "Singin'", 'in', 'the', 'Rain', '(1952)'],
 ['87.', '3', 'Idiots', '(2009)'],
 ['88.', 'Tengoku', 'to', 'jigoku', '(1963)'],
 ['89.',
  'Star',
  'Wars:',
  'Episode',
  'VI',
  '-',
  'Return',
  'of',
  'the',
  'Jedi',
  '(1983)'],
 ['90.', '2001:', 'A', 'Space', 'Odyssey', '(1968)'],
 ['91.', 'Eternal', 'Sunshine', 'of', 'the', 'Spotless', 'Mind', '(2004)'],
 ['92.', 'Reservoir', 'Dogs', '(1992)'],
 ['93.', 'Capharnaüm', '(2018)'],
 ['94.', 'Jagten', '(2012)'],
 ['95.', 'Lawrence', 'of', 'Arabia', '(1962)'],
 ['96.', 'Citizen', 'Kane', '(1941)'],
 ['97.', 'M', '-', 'Eine', 'Stadt', 'sucht', 'einen', 'Mörder', '(1931)'],
 ['98.', 'North', 'by', 'Northwest', '(1959)'],
 ['99.', 'Idi', 'i', 'smotri', '(1985)'],
 ['100.', 'Vertigo', '(1958)'],
 ['101.', 'Le', 'fabuleux', 'destin', "d'Amélie", 'Poulain', '(2001)'],
 ['102.', 'A', 'Clockwork', 'Orange', '(1971)'],
 ['103.', 'Double', 'Indemnity', '(1944)'],
 ['104.', 'The', 'Apartment', '(1960)'],
 ['105.', 'Full', 'Metal', 'Jacket', '(1987)'],
 ['106.', 'Ikiru', '(1952)'],
 ['107.', 'Scarface', '(1983)'],
 ['108.', 'To', 'Kill', 'a', 'Mockingbird', '(1962)'],
 ['109.', 'The', 'Sting', '(1973)'],
 ['110.', 'Hamilton', '(2020)'],
 ['111.', 'Heat', '(1995)'],
 ['112.', 'Taxi', 'Driver', '(1976)'],
 ['113.', 'Up', '(2009)'],
 ['114.', 'Incendies', '(2010)'],
 ['115.', 'L.A.', 'Confidential', '(1997)'],
 ['116.', 'Jodaeiye', 'Nader', 'az', 'Simin', '(2011)'],
 ['117.', 'Metropolis', '(1927)'],
 ['118.', 'Die', 'Hard', '(1988)'],
 ['119.', 'Snatch', '(2000)'],
 ['120.', 'Ladri', 'di', 'biciclette', '(1948)'],
 ['121.', 'Indiana', 'Jones', 'and', 'the', 'Last', 'Crusade', '(1989)'],
 ['122.', '1917', '(2019)'],
 ['123.', 'Taare', 'Zameen', 'Par', '(2007)'],
 ['124.', 'Der', 'Untergang', '(2004)'],
 ['125.', 'Per', 'qualche', 'dollaro', 'in', 'più', '(1965)'],
 ['126.', 'Batman', 'Begins', '(2005)'],
 ['127.', 'Dangal', '(2016)'],
 ['128.', 'The', 'Kid', '(1921)'],
 ['129.', 'Some', 'Like', 'It', 'Hot', '(1959)'],
 ['130.', 'All', 'About', 'Eve', '(1950)'],
 ['131.', 'The', 'Father', '(2020)'],
 ['132.', 'Green', 'Book', '(2018)'],
 ['133.', 'The', 'Wolf', 'of', 'Wall', 'Street', '(2013)'],
 ['134.', 'Judgment', 'at', 'Nuremberg', '(1961)'],
 ['135.', 'Ran', '(1985)'],
 ['136.', 'Casino', '(1995)'],
 ['137.', 'Spider-Man:', 'No', 'Way', 'Home', '(2021)'],
 ['138.', 'Unforgiven', '(1992)'],
 ['139.', "Pan's", 'Labyrinth', '(2006)'],
 ['140.', 'There', 'Will', 'Be', 'Blood', '(2007)'],
 ['141.', 'The', 'Truman', 'Show', '(1998)'],
 ['142.', 'The', 'Sixth', 'Sense', '(1999)'],
 ['143.', 'A', 'Beautiful', 'Mind', '(2001)'],
 ['144.', 'Monty', 'Python', 'and', 'the', 'Holy', 'Grail', '(1975)'],
 ['145.', 'Yôjinbô', '(1961)'],
 ['146.', 'The', 'Treasure', 'of', 'the', 'Sierra', 'Madre', '(1948)'],
 ['147.', 'Shutter', 'Island', '(2010)'],
 ['148.', 'Jurassic', 'Park', '(1993)'],
 ['149.', 'Rashômon', '(1950)'],
 ['150.', 'The', 'Great', 'Escape', '(1963)'],
 ['151.', 'Kill', 'Bill:', 'Vol.', '1', '(2003)'],
 ['152.', 'No', 'Country', 'for', 'Old', 'Men', '(2007)'],
 ['153.', 'Finding', 'Nemo', '(2003)'],
 ['154.', 'The', 'Elephant', 'Man', '(1980)'],
 ['155.', 'Chinatown', '(1974)'],
 ['156.', 'Raging', 'Bull', '(1980)'],
 ['157.', 'The', 'Thing', '(1982)'],
 ['158.', 'Gone', 'with', 'the', 'Wind', '(1939)'],
 ['159.', 'V', 'for', 'Vendetta', '(2005)'],
 ['160.', 'Inside', 'Out', '(2015)'],
 ['161.', 'Lock,', 'Stock', 'and', 'Two', 'Smoking', 'Barrels', '(1998)'],
 ['162.', 'Dial', 'M', 'for', 'Murder', '(1954)'],
 ['163.', 'El', 'secreto', 'de', 'sus', 'ojos', '(2009)'],
 ['164.', 'Hauru', 'no', 'ugoku', 'shiro', '(2004)'],
 ['165.', 'The', 'Bridge', 'on', 'the', 'River', 'Kwai', '(1957)'],
 ['166.', 'Three', 'Billboards', 'Outside', 'Ebbing,', 'Missouri', '(2017)'],
 ['167.', 'Trainspotting', '(1996)'],
 ['168.', 'Warrior', '(2011)'],
 ['169.', 'Gran', 'Torino', '(2008)'],
 ['170.', 'Fargo', '(1996)'],
 ['171.', 'Prisoners', '(2013)'],
 ['172.', 'Tonari', 'no', 'Totoro', '(1988)'],
 ['173.', 'Million', 'Dollar', 'Baby', '(2004)'],
 ['174.', 'Catch', 'Me', 'If', 'You', 'Can', '(2002)'],
 ['175.', 'The', 'Gold', 'Rush', '(1925)'],
 ['176.', 'Blade', 'Runner', '(1982)'],
 ['177.', 'Bacheha-Ye', 'aseman', '(1997)'],
 ['178.', 'On', 'the', 'Waterfront', '(1954)'],
 ['179.', 'The', 'Third', 'Man', '(1949)'],
 ['180.', 'Before', 'Sunrise', '(1995)'],
 ['181.', '12', 'Years', 'a', 'Slave', '(2013)'],
 ['182.', 'Ben-Hur', '(1959)'],
 ['183.', 'Smultronstället', '(1957)'],
 ['184.',
  'Harry',
  'Potter',
  'and',
  'the',
  'Deathly',
  'Hallows:',
  'Part',
  '2',
  '(2011)'],
 ['185.', 'Gone', 'Girl', '(2014)'],
 ['186.', 'The', 'General', '(1926)'],
 ['187.', 'The', 'Deer', 'Hunter', '(1978)'],
 ['188.', 'In', 'the', 'Name', 'of', 'the', 'Father', '(1993)'],
 ['189.', 'The', 'Grand', 'Budapest', 'Hotel', '(2014)'],
 ['190.', 'Le', 'salaire', 'de', 'la', 'peur', '(1953)'],
 ['191.', 'Barry', 'Lyndon', '(1975)'],
 ['192.', 'Mr.', 'Smith', 'Goes', 'to', 'Washington', '(1939)'],
 ['193.', 'Sherlock', 'Jr.', '(1924)'],
 ['194.', 'Hacksaw', 'Ridge', '(2016)'],
 ['195.', 'Salinui', 'chueok', '(2003)'],
 ['196.', 'Klaus', '(2019)'],
 ['197.', 'Relatos', 'salvajes', '(2014)'],
 ['198.', 'Det', 'sjunde', 'inseglet', '(1957)'],
 ['199.', 'Room', '(2015)'],
 ['200.', 'Mad', 'Max:', 'Fury', 'Road', '(2015)'],
 ['201.', 'How', 'to', 'Train', 'Your', 'Dragon', '(2010)'],
 ['202.', 'Mary', 'and', 'Max.', '(2009)'],
 ['203.', 'The', 'Big', 'Lebowski', '(1998)'],
 ['204.', 'Jaws', '(1975)'],
 ['205.', 'Monsters,', 'Inc.', '(2001)'],
 ['206.', 'Everything', 'Everywhere', 'All', 'at', 'Once', '(2022)'],
 ['207.', 'Tôkyô', 'monogatari', '(1953)'],
 ['208.', 'Dead', 'Poets', 'Society', '(1989)'],
 ['209.', 'La', 'passion', 'de', 'Jeanne', "d'Arc", '(1928)'],
 ['210.', 'Hotel', 'Rwanda', '(2004)'],
 ['211.', 'Ford', 'v', 'Ferrari', '(2019)'],
 ['212.', 'Rocky', '(1976)'],
 ['213.', 'Platoon', '(1986)'],
 ['214.', 'Pather', 'Panchali', '(1955)'],
 ['215.', 'Stand', 'by', 'Me', '(1986)'],
 ['216.', 'The', 'Terminator', '(1984)'],
 ['217.', 'Spotlight', '(2015)'],
 ['218.', 'Rush', '(2013)'],
 ['219.', 'Logan', '(2017)'],
 ['220.', 'Ratatouille', '(2007)'],
 ['221.', 'Network', '(1976)'],
 ['222.', 'Into', 'the', 'Wild', '(2007)'],
 ['223.', 'The', 'Wizard', 'of', 'Oz', '(1939)'],
 ['224.', 'Groundhog', 'Day', '(1993)'],
 ['225.', 'Before', 'Sunset', '(2004)'],
 ['226.', 'Jai', 'Bhim', '(2021)'],
 ['227.', 'The', 'Exorcist', '(1973)'],
 ['228.', 'The', 'Best', 'Years', 'of', 'Our', 'Lives', '(1946)'],
 ['229.', 'The', 'Incredibles', '(2004)'],
 ['230.', 'To', 'Be', 'or', 'Not', 'to', 'Be', '(1942)'],
 ['231.', 'La', 'battaglia', 'di', 'Algeri', '(1966)'],
 ['232.', 'The', 'Grapes', 'of', 'Wrath', '(1940)'],
 ['233.', 'Rebecca', '(1940)'],
 ['234.', 'Hachi:', 'A', "Dog's", 'Tale', '(2009)'],
 ['235.', 'Cool', 'Hand', 'Luke', '(1967)'],
 ['236.',
  'Pirates',
  'of',
  'the',
  'Caribbean:',
  'The',
  'Curse',
  'of',
  'the',
  'Black',
  'Pearl',
  '(2003)'],
 ['237.', 'Amores', 'perros', '(2000)'],
 ['238.', 'La', 'haine', '(1995)'],
 ['239.', 'Babam', 've', 'Oglum', '(2005)'],
 ['240.', 'Les', 'quatre', 'cents', 'coups', '(1959)'],
 ['241.', 'Persona', '(1966)'],
 ['242.', 'It', 'Happened', 'One', 'Night', '(1934)'],
 ['243.', 'The', 'Sound', 'of', 'Music', '(1965)'],
 ['244.', 'Life', 'of', 'Brian', '(1979)'],
 ['245.', 'Ah-ga-ssi', '(2016)'],
 ['246.', 'Dersu', 'Uzala', '(1975)'],
 ['247.', 'Aladdin', '(1992)'],
 ['248.', 'Gandhi', '(1982)'],
 ['249.', 'The', 'Help', '(2011)'],
 ['250.', 'The', 'Iron', 'Giant', '(1999)']]

In [67]:
# scrap rating

rating = []
for i in soup.find_all('td', class_="ratingColumn imdbRating"):
    rating.append(i.text.split())
    
print(rating)

[['9.2'], ['9.2'], ['9.0'], ['9.0'], ['8.9'], ['8.9'], ['8.9'], ['8.8'], ['8.8'], ['8.8'], ['8.8'], ['8.7'], ['8.7'], ['8.7'], ['8.7'], ['8.7'], ['8.7'], ['8.6'], ['8.6'], ['8.6'], ['8.6'], ['8.6'], ['8.6'], ['8.6'], ['8.6'], ['8.6'], ['8.6'], ['8.6'], ['8.5'], ['8.5'], ['8.5'], ['8.5'], ['8.5'], ['8.5'], ['8.5'], ['8.5'], ['8.5'], ['8.5'], ['8.5'], ['8.5'], ['8.5'], ['8.5'], ['8.5'], ['8.5'], ['8.5'], ['8.5'], ['8.4'], ['8.4'], ['8.4'], ['8.4'], ['8.4'], ['8.4'], ['8.4'], ['8.4'], ['8.4'], ['8.4'], ['8.4'], ['8.4'], ['8.4'], ['8.4'], ['8.4'], ['8.4'], ['8.4'], ['8.4'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0']]

In [68]:
# scraping movie year of release
release_year = []
for i in soup.find_all('span', class_="secondaryInfo"):
    release_year.append(i.text)
    
print(release_year)

['(1994)', '(1972)', '(2008)', '(1974)', '(1957)', '(1993)', '(2003)', '(1994)', '(2001)', '(1966)', '(1994)', '(1999)', '(2010)', '(2002)', '(1980)', '(1999)', '(1990)', '(1975)', '(1995)', '(1954)', '(1946)', '(1991)', '(2002)', '(1998)', '(1997)', '(1999)', '(2014)', '(1977)', '(1991)', '(1985)', '(2001)', '(1960)', '(2002)', '(1994)', '(2019)', '(1994)', '(2000)', '(1998)', '(2006)', '(1995)', '(2006)', '(1942)', '(2014)', '(2011)', '(1988)', '(1962)', '(1936)', '(1968)', '(1954)', '(1979)', '(1931)', '(1988)', '(1979)', '(2000)', '(1981)', '(2012)', '(2008)', '(2006)', '(1950)', '(1957)', '(1980)', '(1940)', '(2018)', '(1957)', '(1986)', '(1999)', '(2018)', '(2022)', '(1964)', '(2012)', '(2003)', '(2019)', '(1984)', '(1995)', '(1995)', '(2017)', '(2009)', '(1981)', '(2019)', '(1997)', '(1984)', '(1997)', '(2016)', '(2000)', '(2010)', '(1952)', '(2009)', '(1963)', '(1983)', '(1968)', '(2004)', '(1992)', '(2018)', '(2012)', '(1962)', '(1941)', '(1931)', '(1959)', '(1985)', '(1958)', '(2001)', '(1971)', '(1944)', '(1960)', '(1987)', '(1952)', '(1983)', '(1962)', '(1973)', '(2020)', '(1995)', '(1976)', '(2009)', '(2010)', '(1997)', '(2011)', '(1927)', '(1988)', '(2000)', '(1948)', '(1989)', '(2019)', '(2007)', '(2004)', '(1965)', '(2005)', '(2016)', '(1921)', '(1959)', '(1950)', '(2020)', '(2018)', '(2013)', '(1961)', '(1985)', '(1995)', '(2021)', '(1992)', '(2006)', '(2007)', '(1998)', '(1999)', '(2001)', '(1975)', '(1961)', '(1948)', '(2010)', '(1993)', '(1950)', '(1963)', '(2003)', '(2007)', '(2003)', '(1980)', '(1974)', '(1980)', '(1982)', '(1939)', '(2005)', '(2015)', '(1998)', '(1954)', '(2009)', '(2004)', '(1957)', '(2017)', '(1996)', '(2011)', '(2008)', '(1996)', '(2013)', '(1988)', '(2004)', '(2002)', '(1925)', '(1982)', '(1997)', '(1954)', '(1949)', '(1995)', '(2013)', '(1959)', '(1957)', '(2011)', '(2014)', '(1926)', '(1978)', '(1993)', '(2014)', '(1953)', '(1975)', '(1939)', '(1924)', '(2016)', '(2003)', '(2019)', '(2014)', '(1957)', '(2015)', '(2015)', '(2010)', '(2009)', '(1998)', '(1975)', '(2001)', '(2022)', '(1953)', '(1989)', '(1928)', '(2004)', '(2019)', '(1976)', '(1986)', '(1955)', '(1986)', '(1984)', '(2015)', '(2013)', '(2017)', '(2007)', '(1976)', '(2007)', '(1939)', '(1993)', '(2004)', '(2021)', '(1973)', '(1946)', '(2004)', '(1942)', '(1966)', '(1940)', '(1940)', '(2009)', '(1967)', '(2003)', '(2000)', '(1995)', '(2005)', '(1959)', '(1966)', '(1934)', '(1965)', '(1979)', '(2016)', '(1975)', '(1992)', '(1982)', '(2011)', '(1999)']

# MAKING DATAFRAME

In [69]:
# printing length

print(len(titles), len(rating), len(release_year))

250 250 250

In [70]:
import pandas as pd

In [71]:
df = pd.DataFrame({'Movie_Names':titles, 'IMDB_Rating':rating, 'Year_Of_Release':release_year})

In [72]:
df

                                  Movie_Names IMDB_Rating Year_Of_Release
0    [1., The, Shawshank, Redemption, (1994)]       [9.2]          (1994)
1                [2., The, Godfather, (1972)]       [9.2]          (1972)
2             [3., The, Dark, Knight, (2008)]       [9.0]          (2008)
3      [4., The, Godfather, Part, II, (1974)]       [9.0]          (1974)
4                [5., 12, Angry, Men, (1957)]       [8.9]          (1957)
..                                        ...         ...             ...
245              [246., Dersu, Uzala, (1975)]       [8.0]          (1975)
246                   [247., Aladdin, (1992)]       [8.0]          (1992)
247                    [248., Gandhi, (1982)]       [8.0]          (1982)
248                 [249., The, Help, (2011)]       [8.0]          (2011)
249          [250., The, Iron, Giant, (1999)]       [8.0]          (1999)

[250 rows x 3 columns]

# 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [73]:
# send get request to the webpage server to get the source code of the page

ind_mvi_page = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')

In [74]:
ind_mvi_page

In [75]:
soup1 = BeautifulSoup(ind_mvi_page.content)
#print(soup1.prettify())

In [73]:
# multiple movie titles

movie_titles = []

for i in soup1.find_all('td', class_="titleColumn"):
    movie_titles.append(i.text.split())
    
    
print(movie_titles)

[['1.', 'Rocketry:', 'The', 'Nambi', 'Effect', '(2022)'], ['2.', 'Anbe', 'Sivam', '(2003)'], ['3.', 'Jai', 'Bhim', '(2021)'], ['4.', 'Golmaal', '(1979)'], ['5.', 'Nayakan', '(1987)'], ['6.', 'Pariyerum', 'Perumal', '(2018)'], ['7.', '777', 'Charlie', '(2022)'], ['8.', '3', 'Idiots', '(2009)'], ['9.', 'Apur', 'Sansar', '(1959)'], ['10.', 'Manichitrathazhu', '(1993)'], ['11.', 'Kumbalangi', 'Nights', '(2019)'], ['12.', 'Black', 'Friday', '(2004)'], ['13.', 'Soorarai', 'Pottru', '(2020)'], ['14.', '#Home', '(2021)'], ['15.', 'C/o', 'Kancharapalem', '(2018)'], ['16.', 'Taare', 'Zameen', 'Par', '(2007)'], ['17.', 'Kireedam', '(1989)'], ['18.', 'Dangal', '(2016)'], ['19.', 'Kaithi', '(2019)'], ['20.', 'Jersey', '(2019)'], ['21.', '96', '(2018)'], ['22.', 'Asuran', '(2019)'], ['23.', 'Thevar', 'Magan', '(1992)'], ['24.', 'Visaaranai', '(2015)'], ['25.', 'Sarpatta', 'Parambarai', '(2021)'], ['26.', 'Natsamrat', '(2016)'], ['27.', 'Thalapathi', '(1991)'], ['28.', 'Drishyam', '2', '(2021)'], ['29.', 'Pather', 'Panchali', '(1955)'], ['30.', 'Nadodikkattu', '(1987)'], ['31.', 'Sardar', 'Udham', '(2021)'], ['32.', 'Thani', 'Oruvan', '(2015)'], ['33.', 'Vada', 'Chennai', '(2018)'], ['34.', 'Jaane', 'Bhi', 'Do', 'Yaaro', '(1983)'], ['35.', 'Aparajito', '(1956)'], ['36.', 'Sita', 'Ramam', '(2022)'], ['37.', 'Khosla', 'Ka', 'Ghosla!', '(2006)'], ['38.', 'Drishyam', '(2013)'], ['39.', 'Peranbu', '(2018)'], ['40.', 'Anniyan', '(2005)'], ['41.', 'Ratsasan', '(2018)'], ['42.', 'Chupke', 'Chupke', '(1975)'], ['43.', 'Mahanati', '(2018)'], ['44.', 'Agent', 'Sai', 'Srinivasa', 'Athreya', '(2019)'], ['45.', 'Vikram', '(2022)'], ['46.', 'Premam', '(2015)'], ['47.', 'Bangalore', 'Days', '(2014)'], ['48.', 'Satya', '(1998)'], ['49.', 'Super', 'Deluxe', '(2019)'], ['50.', 'Devasuram', '(1993)'], ['51.', 'Gangs', 'of', 'Wasseypur', '(2012)'], ['52.', 'Bhaag', 'Milkha', 'Bhaag', '(2013)'], ['53.', 'Drishyam', '(2015)'], ['54.', 'Andhadhun', '(2018)'], ['55.', 'Aruvi', '(2016)'], ['56.', 'Chithram', '(1988)'], ['57.', 'Vikram', 'Vedha', '(2017)'], ['58.', 'Kannathil', 'Muthamittal', '(2002)'], ['59.', 'Guide', '(1965)'], ['60.', 'Iruvar', '(1997)'], ['61.', 'Tumbbad', '(2018)'], ['62.', 'Sairat', '(2016)'], ['63.', 'Shahid', '(2012)'], ['64.', 'Zindagi', 'Na', 'Milegi', 'Dobara', '(2011)'], ['65.', 'Paan', 'Singh', 'Tomar', '(2012)'], ['66.', 'Chhichhore', '(2019)'], ['67.', 'Mudhalvan', '(1999)'], ['68.', 'Spadikam', '(1995)'], ['69.', 'Pudhu', 'Pettai', '(2006)'], ['70.', 'Swades:', 'We,', 'the', 'People', '(2004)'], ['71.', 'Dhuruvangal', 'Pathinaaru', '(2016)'], ['72.', 'Chak', 'De!', 'India', '(2007)'], ['73.', 'Papanasam', '(2015)'], ['74.', 'Mandela', '(2021)'], ['75.', 'Uri:', 'The', 'Surgical', 'Strike', '(2019)'], ['76.', 'Black', '(2005)'], ['77.', 'Jo', 'Jeeta', 'Wohi', 'Sikandar', '(1992)'], ['78.', 'Pyaasa', '(1957)'], ['79.', 'Munna', 'Bhai', 'M.B.B.S.', '(2003)'], ['80.', 'Soodhu', 'Kavvum', '(2013)'], ['81.', 'Article', '15', '(2019)'], ['82.', 'Queen', '(2013)'], ['83.', 'Kaakkaa', 'Muttai', '(2014)'], ['84.', 'Lagaan:', 'Once', 'Upon', 'a', 'Time', 'in', 'India', '(2001)'], ['85.', 'Talvar', '(2015)'], ['86.', 'PK', '(2014)'], ['87.', 'OMG:', 'Oh', 'My', 'God!', '(2012)'], ['88.', 'Jigarthanda', '(2014)'], ['89.', 'Hera', 'Pheri', '(2000)'], ['90.', 'Sarfarosh', '(1999)'], ['91.', 'Udaan', '(2010)'], ['92.', 'Theeran', 'Adhigaaram', 'Ondru', '(2017)'], ['93.', 'Barfi!', '(2012)'], ['94.', 'Sholay', '(1975)'], ['95.', 'Ustad', 'Hotel', '(2012)'], ['96.', 'The', 'Legend', 'of', 'Bhagat', 'Singh', '(2002)'], ['97.', 'Virumandi', '(2004)'], ['98.', 'Baahubali', '2:', 'The', 'Conclusion', '(2017)'], ['99.', 'Angoor', '(1982)'], ['100.', 'Rang', 'De', 'Basanti', '(2006)'], ['101.', 'Baasha', '(1995)'], ['102.', 'Jana', 'Gana', 'Mana', '(2022)'], ['103.', 'Maheshinte', 'Prathikaaram', '(2016)'], ['104.', 'Masaan', '(2015)'], ['105.', 'Kahaani', '(2012)'], ['106.', 'Shershaah', '(2021)'], ['107.', 'Dil', 'Chahta', 'Hai', '(2001)'], ['108.', 'Kaun', 'Pravin', 'Tambe?', '(2022)'], ['109.', 'A', 'Wednesday', '(2008)'], ['110.', 'Roja', '(1992)'], ['111.', 'Pithamagan', '(2003)'], ['112.', 'Iqbal', '(2005)'], ['113.', 'Pink', '(2016)'], ['114.', 'Lage', 'Raho', 'Munna', 'Bhai', '(2006)'], ['115.', 'Nil', 'Battey', 'Sannata', '(2015)'], ['116.', 'Anand', '(1971)'], ['117.', 'Charulata', '(1964)'], ['118.', 'Lucia', '(2013)'], ['119.', 'Alai', 'Payuthey', '(2000)'], ['120.', 'Section', '375', '(2019)'], ['121.', 'Oru', 'Vadakkan', 'Veeragatha', '(1989)'], ['122.', 'Omkara', '(2006)'], ['123.', 'Bajrangi', 'Bhaijaan', '(2015)'], ['124.', 'Bombay', '(1995)'], ['125.', 'Bommarillu', '(2006)'], ['126.', 'K.G.F:', 'Chapter', '1', '(2018)'], ['127.', 'Indian', '(1996)'], ['128.', 'The', 'Great', 'Indian', 'Kitchen', '(2021)'], ['129.', 'K.G.F:', 'Chapter', '2', '(2022)'], ['130.', 'Rangasthalam', '(2018)'], ['131.', 'Haider', '(2014)'], ['132.', 'Mughal-E-Azam', '(1960)'], ['133.', 'Dilwale', 'Dulhania', 'Le', 'Jayenge', '(1995)'], ['134.', 'Maanaadu', '(2021)'], ['135.', 'Athadu', '(2005)'], ['136.', 'Maqbool', '(2003)'], ['137.', 'Andaz', 'Apna', 'Apna', '(1994)'], ['138.', 'Special', 'Chabbis', '(2013)'], ['139.', 'Thadam', '(2019)'], ['140.', 'Vaaranam', 'Aayiram', '(2008)'], ['141.', 'Android', 'Kunjappan', 'Version', '5.25', '(2019)'], ['142.', 'Padayappa', '(1999)'], ['143.', 'Pelli', 'Choopulu', '(2016)'], ['144.', 'Gulaal', '(2009)'], ['145.', 'Ulidavaru', 'Kandanthe', '(2014)'], ['146.', 'Naduvula', 'Konjam', 'Pakkatha', 'Kaanom', '(2012)'], ['147.', 'Deewaar', '(1975)'], ['148.', 'Badhaai', 'ho', '(2018)'], ['149.', 'Vaastav:', 'The', 'Reality', '(1999)'], ['150.', 'Ugly', '(2013)'], ['151.', 'Kshanam', '(2016)'], ['152.', 'Company', '(2002)'], ['153.', 'Evaru', '(2019)'], ['154.', 'Gully', 'Boy', '(2019)'], ['155.', 'Padosan', '(1968)'], ['156.', 'Major', '(2022)'], ['157.', 'Aadukalam', '(2011)'], ['158.', 'Maanagaram', '(2017)'], ['159.', 'Nayattu', '(2021)'], ['160.', 'Thondimuthalum', 'Dhriksakshiyum', '(2017)'], ['161.', 'Dev.D', '(2009)'], ['162.', 'My', 'Name', 'Is', 'Khan', '(2010)'], ['163.', 'Take', 'Off', '(2017)'], ['164.', 'Pranchiyettan', 'and', 'the', 'Saint', '(2010)'], ['165.', 'Baishe', 'Srabon', '(2011)'], ['166.', 'Kal', 'Ho', 'Naa', 'Ho', '(2003)'], ['167.', 'Ayyappanum', 'Koshiyum', '(2020)'], ['168.', 'Dil', 'Bechara', '(2020)'], ['169.', 'Jab', 'We', 'Met', '(2007)'], ['170.', 'Manjhi:', 'The', 'Mountain', 'Man', '(2015)'], ['171.', 'Mukkabaaz', '(2017)'], ['172.', 'Super', '30', '(2019)'], ['173.', 'Deiva', 'Thirumagal', '(2011)'], ['174.', 'Arjun', 'Reddy', '(2017)'], ['175.', 'Karnan', '(2021)'], ['176.', 'Border', '(1997)'], ['177.', 'Ship', 'of', 'Theseus', '(2012)'], ['178.', 'Charlie', '(2015)'], ['179.', 'Vedam', '(2010)'], ['180.', 'Bãhubali:', 'The', 'Beginning', '(2015)'], ['181.', 'Padman', '(2018)'], ['182.', 'Salaam', 'Bombay!', '(1988)'], ['183.', 'Ankhon', 'Dekhi', '(2013)'], ['184.', 'Jalsaghar', '(1958)'], ['185.', 'Baby', '(2015)'], ['186.', 'RRR', '(Rise', 'Roar', 'Revolt)', '(2022)'], ['187.', 'M.S.', 'Dhoni:', 'The', 'Untold', 'Story', '(2016)'], ['188.', 'Vinnaithaandi', 'Varuvaayaa', '(2010)'], ['189.', 'Malik', '(2021)'], ['190.', 'Kirik', 'Party', '(2016)'], ['191.', 'Pizza', '(2012)'], ['192.', 'The', 'Tashkent', 'Files', '(2019)'], ['193.', 'Memories', '(2013)'], ['194.', 'Hindi', 'Medium', '(2017)'], ['195.', 'Hridayam', '(2022)'], ['196.', 'Lakshya', '(2004)'], ['197.', 'English', 'Vinglish', '(2012)'], ['198.', 'Dor', '(2006)'], ['199.', 'Johnny', 'Gaddaar', '(2007)'], ['200.', 'Airlift', '(2016)'], ['201.', 'Hey', 'Ram', '(2000)'], ['202.', 'Joseph', '(2018)'], ['203.', 'Kaakha..Kaakha:', 'The', 'Police', '(2003)'], ['204.', 'Anjaam', 'Pathiraa', '(2020)'], ['205.', 'Gangaajal', '(2003)'], ['206.', 'Karthikeya', '2', '(2022)'], ['207.', 'Vettaiyaadu', 'Vilaiyaadu', '(2006)'], ['208.', 'Okkadu', '(2003)'], ['209.', 'Mumbai', 'Police', '(2013)'], ['210.', 'The', 'Lunchbox', '(2013)'], ['211.', 'Pokiri', '(2006)'], ['212.', 'Ab', 'Tak', 'Chhappan', '(2004)'], ['213.', 'Thuppakki', '(2012)'], ['214.', 'Oopiri', '(2016)'], ['215.', 'Angamaly', 'Diaries', '(2017)'], ['216.', 'Unnaipol', 'Oruvan', '(2009)'], ['217.', 'Manam', '(2014)'], ['218.', 'RangiTaranga', '(2015)'], ['219.', 'Ghilli', '(2004)'], ['220.', 'Vicky', 'Donor', '(2012)'], ['221.', 'Secret', 'Superstar', '(2017)'], ['222.', 'Mother', 'India', '(1957)'], ['223.', 'Veer-Zaara', '(2004)'], ['224.', 'Kaththi', '(2014)'], ['225.', 'Mimi', '(2021)'], ['226.', 'Sonchiriya', '(2019)'], ['227.', 'Dia', '(2020)'], ['228.', 'Oru', 'CBI', 'Diary', 'Kurippu', '(1988)'], ['229.', 'Stanley', 'Ka', 'Dabba', '(2011)'], ['230.', 'Rock', 'On!!', '(2008)'], ['231.', 'Mr.', 'India', '(1987)'], ['232.', 'Nayak:', 'The', 'Real', 'Hero', '(2001)'], ['233.', 'Udta', 'Punjab', '(2016)'], ['234.', 'Thulladha', 'Manamum', 'Thullum', '(1999)'], ['235.', 'Happy', 'Days', '(2007)'], ['236.', 'Minnal', 'Murali', '(2021)'], ['237.', 'Aayirathil', 'Oruvan', '(2010)'], ['238.', 'Badla', '(2019)'], ['239.', 'Raazi', '(2018)'], ['240.', 'Dasvidaniya', '(2008)'], ['241.', 'Poove', 'Unakkaga', '(1996)'], ['242.', 'Kai', 'po', 'che!', '(2013)'], ['243.', 'Goodachari', '(2018)'], ['244.', 'Joji', '(2021)'], ['245.', 'Ko', '(2011)'], ['246.', 'Don', '(1978)'], ['247.', 'Ennu', 'Ninte', 'Moideen', '(2015)'], ['248.', 'Velaiilla', 'Pattadhari', '(2014)'], ['249.', 'Aligarh', '(2015)'], ['250.', '24', '(2016)']]

In [74]:
# scrap rating

mvi_rating = []
for i in soup1.find_all('td', class_="ratingColumn imdbRating"):
    mvi_rating.append(i.text.split())
    
print(mvi_rating)

[['8.5'], ['8.4'], ['8.4'], ['8.4'], ['8.4'], ['8.4'], ['8.4'], ['8.4'], ['8.4'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.3'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.2'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.1'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['8.0'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.9'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.8'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.7'], ['7.6'], ['7.6'], ['7.6'], ['7.6']]

In [81]:
# scraping movie year of release

mvi_release_year = []
for i in soup1.find_all('span', class_="secondaryInfo"):
    mvi_release_year.append(i.text)
    
print(mvi_release_year)

['(2022)', '(2003)', '(2021)', '(1979)', '(1987)', '(2018)', '(2022)', '(2009)', '(1959)', '(1993)', '(2019)', '(2004)', '(2020)', '(2021)', '(2018)', '(2007)', '(1989)', '(2016)', '(2019)', '(2019)', '(2018)', '(2019)', '(1992)', '(2015)', '(2021)', '(2016)', '(1991)', '(2021)', '(1955)', '(1987)', '(2021)', '(2015)', '(2018)', '(1983)', '(1956)', '(2022)', '(2006)', '(2013)', '(2018)', '(2005)', '(2018)', '(1975)', '(2018)', '(2019)', '(2022)', '(2015)', '(2014)', '(1998)', '(2019)', '(1993)', '(2012)', '(2013)', '(2015)', '(2018)', '(2016)', '(1988)', '(2017)', '(2002)', '(1965)', '(1997)', '(2018)', '(2016)', '(2012)', '(2011)', '(2012)', '(2019)', '(1999)', '(1995)', '(2006)', '(2004)', '(2016)', '(2007)', '(2015)', '(2021)', '(2019)', '(2005)', '(1992)', '(1957)', '(2003)', '(2013)', '(2019)', '(2013)', '(2014)', '(2001)', '(2015)', '(2014)', '(2012)', '(2014)', '(2000)', '(1999)', '(2010)', '(2017)', '(2012)', '(1975)', '(2012)', '(2002)', '(2004)', '(2017)', '(1982)', '(2006)', '(1995)', '(2022)', '(2016)', '(2015)', '(2012)', '(2021)', '(2001)', '(2022)', '(2008)', '(1992)', '(2003)', '(2005)', '(2016)', '(2006)', '(2015)', '(1971)', '(1964)', '(2013)', '(2000)', '(2019)', '(1989)', '(2006)', '(2015)', '(1995)', '(2006)', '(2018)', '(1996)', '(2021)', '(2022)', '(2018)', '(2014)', '(1960)', '(1995)', '(2021)', '(2005)', '(2003)', '(1994)', '(2013)', '(2019)', '(2008)', '(2019)', '(1999)', '(2016)', '(2009)', '(2014)', '(2012)', '(1975)', '(2018)', '(1999)', '(2013)', '(2016)', '(2002)', '(2019)', '(2019)', '(1968)', '(2022)', '(2011)', '(2017)', '(2021)', '(2017)', '(2009)', '(2010)', '(2017)', '(2010)', '(2011)', '(2003)', '(2020)', '(2020)', '(2007)', '(2015)', '(2017)', '(2019)', '(2011)', '(2017)', '(2021)', '(1997)', '(2012)', '(2015)', '(2010)', '(2015)', '(2018)', '(1988)', '(2013)', '(1958)', '(2015)', '(2022)', '(2016)', '(2010)', '(2021)', '(2016)', '(2012)', '(2019)', '(2013)', '(2017)', '(2022)', '(2004)', '(2012)', '(2006)', '(2007)', '(2016)', '(2000)', '(2018)', '(2003)', '(2020)', '(2003)', '(2022)', '(2006)', '(2003)', '(2013)', '(2013)', '(2006)', '(2004)', '(2012)', '(2016)', '(2017)', '(2009)', '(2014)', '(2015)', '(2004)', '(2012)', '(2017)', '(1957)', '(2004)', '(2014)', '(2021)', '(2019)', '(2020)', '(1988)', '(2011)', '(2008)', '(1987)', '(2001)', '(2016)', '(1999)', '(2007)', '(2021)', '(2010)', '(2019)', '(2018)', '(2008)', '(1996)', '(2013)', '(2018)', '(2021)', '(2011)', '(1978)', '(2015)', '(2014)', '(2015)', '(2016)']

# MAKING DATAFRAME

In [82]:
# printing length

print(len(movie_titles), len(mvi_rating), len(mvi_release_year))

250 250 250

In [83]:
# making dataframe to create table

df1 = pd.DataFrame({'Movie_Names':movie_titles, 'IMDB_Rating':mvi_rating, 'Year_Of_Release':mvi_release_year})

In [84]:
df1

                                     Movie_Names IMDB_Rating Year_Of_Release
0    [1., Rocketry:, The, Nambi, Effect, (2022)]       [8.5]          (2022)
1                      [2., Anbe, Sivam, (2003)]       [8.4]          (2003)
2                        [3., Jai, Bhim, (2021)]       [8.4]          (2021)
3                          [4., Golmaal, (1979)]       [8.4]          (1979)
4                          [5., Nayakan, (1987)]       [8.4]          (1987)
..                                           ...         ...             ...
245                          [246., Don, (1978)]       [7.7]          (1978)
246         [247., Ennu, Ninte, Moideen, (2015)]       [7.6]          (2015)
247        [248., Velaiilla, Pattadhari, (2014)]       [7.6]          (2014)
248                      [249., Aligarh, (2015)]       [7.6]          (2015)
249                           [250., 24, (2016)]       [7.6]          (2016)

[250 rows x 3 columns]

# 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)from https://presidentofindia.nic.in/former-presidents.htm

In [9]:
# send get request to the webpage server to get the source code of the page

former_pres = requests.get('https://presidentofindia.nic.in/former-presidents.htm')

In [10]:
former_pres

In [76]:
soup2 = BeautifulSoup(former_pres.content)
#print(soup2.prettify())

In [31]:
# scrap multiple names of presidents 

pres_names = soup2.find_all(['h3'])

for i in pres_names:
    print(i.get_text())

Shri Ram Nath Kovind (birth - 1945)
Shri Pranab Mukherjee (1935-2020)
Smt Pratibha Devisingh Patil (birth - 1934)
DR. A.P.J. Abdul Kalam (1931-2015)
Shri K. R. Narayanan (1920 - 2005)
Dr Shankar Dayal Sharma (1918-1999)
Shri R Venkataraman (1910-2009)
Giani Zail Singh (1916-1994)
Shri Neelam Sanjiva Reddy (1913-1996)
Dr. Fakhruddin Ali Ahmed (1905-1977)
Shri Varahagiri Venkata Giri (1894-1980)
Dr. Zakir Husain (1897-1969)
Dr. Sarvepalli Radhakrishnan (1888-1975)
Dr. Rajendra Prasad (1884-1963)

In [40]:
# scrap presidents office term

offc_terms = soup2.find_all(['p'])

for i in offc_terms:
    print(i.get_text())

Term of Office: 25 July, 2017 to 25 July, 2022
https://ramnathkovind.nic.in
Term of Office: 25 July, 2012 to 25 July, 2017
http://pranabmukherjee.nic.in
Term of Office: 25 July, 2007 to 25 July, 2012
http://pratibhapatil.nic.in
Term of Office: 25 July, 2002 to 25 July, 2007
http://abdulkalam.nic.in
Term of Office: 25 July, 1997 to 25 July, 2002
Term of Office: 25 July, 1992 to 25 July, 1997
Term of Office: 25 July, 1987 to 25 July, 1992
Term of Office: 25 July, 1982 to 25 July, 1987
Term of Office: 25 July, 1977 to 25 July, 1982
Term of Office: 24 August, 1974 to 11 February, 1977
Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974
Term of Office: 13 May, 1967 to 3 May, 1969
Term of Office: 13 May, 1962 to 13 May, 1967
Term of Office: 26 January, 1950 to 13 May, 1962
Copyright © 2022 The Rashtrapati Bhavan.
Page last updated on: 22-July-2022 15:58 PM


 Website hosted by National Informatics Centre. Website Content provided by the President's Secretariat.

# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [78]:
# send get request to the webpage server to get the source code of the page

icc = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [79]:
print(icc)

<Response [200]>

In [80]:
soup3 = BeautifulSoup(icc.content)
#print(soup3.prettify())

In [174]:
# scrap icci team names

team_names = []

for i in soup3.find_all('td', class_="table-body__cell rankings-table__team"):
    team_names.append(i.text.split())
    
team_names

[['New', 'Zealand', 'NZ'],
 ['India', 'IND'],
 ['Pakistan', 'PAK'],
 ['Australia', 'AUS'],
 ['South', 'Africa', 'SA'],
 ['Bangladesh', 'BAN'],
 ['Sri', 'Lanka', 'SL'],
 ['West', 'Indies', 'WI'],
 ['Afghanistan', 'AFG'],
 ['Ireland', 'IRE'],
 ['Scotland', 'SCO'],
 ['Zimbabwe', 'ZIM'],
 ['Namibia', 'NAM'],
 ['Netherlands', 'NED'],
 ['UAE', 'UAE'],
 ['Oman', 'OMA'],
 ['United', 'States', 'USA'],
 ['Nepal', 'NEP'],
 ['Papua', 'New', 'Guinea', 'PNG']]

In [169]:
 # scrap match recording and points
    match_rec = []

for i in soup3.find_all('td', class_="table-body__cell u-center-text"):

    match_rec.append(i.text)
    
print(match_rec)

['22', '2,508', '31', '3,447', '22', '2,354', '29', '3,071', '21', '2,111', '30', '2,753', '29', '2,658', '41', '2,902', '18', '1,238', '23', '1,214', '27', '1,254', '26', '1,098', '19', '642', '21', '673', '22', '697', '30', '919', '27', '641', '22', '331', '26', '209']

In [178]:
 match_rating = []
    
for i in soup3.find_all('td', class_="table-body__cell u-text-right rating"):
    
    match_rating.append(i.text)
    
print(match_rating)

['114', '111', '107', '106', '101', '92', '92', '71', '69', '53', '46', '42', '34', '32', '32', '31', '24', '15', '8']

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [81]:
# send get request to the webpage server to get the source code of the page

icc_player = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

In [82]:
icc_player

In [83]:
soup4 = BeautifulSoup(icc_player.content)
#print(soup4.prettify())

In [8]:
# scrap icci players names

player_names = []

for i in soup4.find_all('td', class_="table-body__cell name"):
    player_names.append(i.text.split())
    
player_names

[['Rassie', 'van', 'der', 'Dussen'],
 ['Quinton', 'de', 'Kock'],
 ['Imam-ul-Haq'],
 ['Virat', 'Kohli'],
 ['Rohit', 'Sharma'],
 ['Jonny', 'Bairstow'],
 ['David', 'Warner'],
 ['Ross', 'Taylor'],
 ['Steve', 'Smith'],
 ['Josh', 'Hazlewood'],
 ['Mujeeb', 'Ur', 'Rahman'],
 ['Jasprit', 'Bumrah'],
 ['Shaheen', 'Afridi'],
 ['Mohammad', 'Nabi'],
 ['Mehedi', 'Hasan'],
 ['Matt', 'Henry'],
 ['Mitchell', 'Starc'],
 ['Rashid', 'Khan'],
 ['Mohammad', 'Nabi'],
 ['Rashid', 'Khan'],
 ['Mitchell', 'Santner'],
 ['Sikandar', 'Raza'],
 ['Zeeshan', 'Maqsood'],
 ['Mehedi', 'Hasan'],
 ['Chris', 'Woakes'],
 ['Glenn', 'Maxwell'],
 ['Imad', 'Wasim'],
 ['Rassie', 'van', 'der', 'Dussen'],
 ['Quinton', 'de', 'Kock'],
 ['Imam-ul-Haq'],
 ['Virat', 'Kohli'],
 ['Rohit', 'Sharma'],
 ['Jonny', 'Bairstow'],
 ['David', 'Warner'],
 ['Ross', 'Taylor'],
 ['Steve', 'Smith'],
 ['Josh', 'Hazlewood'],
 ['Mujeeb', 'Ur', 'Rahman'],
 ['Jasprit', 'Bumrah'],
 ['Shaheen', 'Afridi'],
 ['Mohammad', 'Nabi'],
 ['Mehedi', 'Hasan'],
 ['Matt', 'Henry'],
 ['Mitchell', 'Starc'],
 ['Rashid', 'Khan'],
 ['Mohammad', 'Nabi'],
 ['Rashid', 'Khan'],
 ['Mitchell', 'Santner'],
 ['Sikandar', 'Raza'],
 ['Zeeshan', 'Maqsood'],
 ['Mehedi', 'Hasan'],
 ['Chris', 'Woakes'],
 ['Glenn', 'Maxwell'],
 ['Imad', 'Wasim']]

In [9]:
# scrap icci players country names

country_names = []

for i in soup4.find_all('td', class_="table-body__cell nationality-logo"):
    country_names.append(i.text.split())
    
country_names

[['SA'],
 ['SA'],
 ['PAK'],
 ['IND'],
 ['IND'],
 ['ENG'],
 ['AUS'],
 ['NZ'],
 ['AUS'],
 ['AUS'],
 ['AFG'],
 ['IND'],
 ['PAK'],
 ['AFG'],
 ['BAN'],
 ['NZ'],
 ['AUS'],
 ['AFG'],
 ['AFG'],
 ['AFG'],
 ['NZ'],
 ['ZIM'],
 ['OMA'],
 ['BAN'],
 ['ENG'],
 ['AUS'],
 ['PAK'],
 ['SA'],
 ['SA'],
 ['PAK'],
 ['IND'],
 ['IND'],
 ['ENG'],
 ['AUS'],
 ['NZ'],
 ['AUS'],
 ['AUS'],
 ['AFG'],
 ['IND'],
 ['PAK'],
 ['AFG'],
 ['BAN'],
 ['NZ'],
 ['AUS'],
 ['AFG'],
 ['AFG'],
 ['AFG'],
 ['NZ'],
 ['ZIM'],
 ['OMA'],
 ['BAN'],
 ['ENG'],
 ['AUS'],
 ['PAK']]

In [10]:
# scrap icci Batsman rating

batsman_rating = []

for i in soup4.find_all('td', class_="table-body__cell u-text-right rating"):
    batsman_rating.append(i.text.split())
    
batsman_rating

[['789'],
 ['784'],
 ['779'],
 ['744'],
 ['740'],
 ['732'],
 ['725'],
 ['701'],
 ['697'],
 ['718'],
 ['676'],
 ['662'],
 ['661'],
 ['657'],
 ['655'],
 ['654'],
 ['653'],
 ['651'],
 ['325'],
 ['290'],
 ['275'],
 ['261'],
 ['238'],
 ['238'],
 ['235'],
 ['227'],
 ['220'],
 ['789'],
 ['784'],
 ['779'],
 ['744'],
 ['740'],
 ['732'],
 ['725'],
 ['701'],
 ['697'],
 ['718'],
 ['676'],
 ['662'],
 ['661'],
 ['657'],
 ['655'],
 ['654'],
 ['653'],
 ['651'],
 ['325'],
 ['290'],
 ['275'],
 ['261'],
 ['238'],
 ['238'],
 ['235'],
 ['227'],
 ['220']]

Making DataFrame

In [11]:
import pandas as pd

In [12]:
# making dataframe of batsman to create table

df_bat = pd.DataFrame({'BATSMAN':player_names, 'COUNTRY':country_names, 'ICC_RATING':batsman_rating})

In [18]:
df_bat

                       BATSMAN COUNTRY ICC_RATING
0   [Rassie, van, der, Dussen]    [SA]      [789]
1          [Quinton, de, Kock]    [SA]      [784]
2                [Imam-ul-Haq]   [PAK]      [779]
3               [Virat, Kohli]   [IND]      [744]
4              [Rohit, Sharma]   [IND]      [740]
5            [Jonny, Bairstow]   [ENG]      [732]
6              [David, Warner]   [AUS]      [725]
7               [Ross, Taylor]    [NZ]      [701]
8               [Steve, Smith]   [AUS]      [697]
9            [Josh, Hazlewood]   [AUS]      [718]
10        [Mujeeb, Ur, Rahman]   [AFG]      [676]
11           [Jasprit, Bumrah]   [IND]      [662]
12           [Shaheen, Afridi]   [PAK]      [661]
13            [Mohammad, Nabi]   [AFG]      [657]
14             [Mehedi, Hasan]   [BAN]      [655]
15               [Matt, Henry]    [NZ]      [654]
16           [Mitchell, Starc]   [AUS]      [653]
17              [Rashid, Khan]   [AFG]      [651]
18            [Mohammad, Nabi]   [AFG]      [325]
19              [Rashid, Khan]   [AFG]      [290]
20         [Mitchell, Santner]    [NZ]      [275]
21            [Sikandar, Raza]   [ZIM]      [261]
22          [Zeeshan, Maqsood]   [OMA]      [238]
23             [Mehedi, Hasan]   [BAN]      [238]
24             [Chris, Woakes]   [ENG]      [235]
25            [Glenn, Maxwell]   [AUS]      [227]
26               [Imad, Wasim]   [PAK]      [220]
27  [Rassie, van, der, Dussen]    [SA]      [789]
28         [Quinton, de, Kock]    [SA]      [784]
29               [Imam-ul-Haq]   [PAK]      [779]
30              [Virat, Kohli]   [IND]      [744]
31             [Rohit, Sharma]   [IND]      [740]
32           [Jonny, Bairstow]   [ENG]      [732]
33             [David, Warner]   [AUS]      [725]
34              [Ross, Taylor]    [NZ]      [701]
35              [Steve, Smith]   [AUS]      [697]
36           [Josh, Hazlewood]   [AUS]      [718]
37        [Mujeeb, Ur, Rahman]   [AFG]      [676]
38           [Jasprit, Bumrah]   [IND]      [662]
39           [Shaheen, Afridi]   [PAK]      [661]
40            [Mohammad, Nabi]   [AFG]      [657]
41             [Mehedi, Hasan]   [BAN]      [655]
42               [Matt, Henry]    [NZ]      [654]
43           [Mitchell, Starc]   [AUS]      [653]
44              [Rashid, Khan]   [AFG]      [651]
45            [Mohammad, Nabi]   [AFG]      [325]
46              [Rashid, Khan]   [AFG]      [290]
47         [Mitchell, Santner]    [NZ]      [275]
48            [Sikandar, Raza]   [ZIM]      [261]
49          [Zeeshan, Maqsood]   [OMA]      [238]
50             [Mehedi, Hasan]   [BAN]      [238]
51             [Chris, Woakes]   [ENG]      [235]
52            [Glenn, Maxwell]   [AUS]      [227]
53               [Imad, Wasim]   [PAK]      [220]

c) Top 10 ODI bowlers along with the records of their team and rating.

In [84]:
# send get request to the webpage server to get the source code of the page

icc_bowler = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

In [85]:
icc_bowler

In [86]:
soup5 = BeautifulSoup(icc_bowler.content)
#print(soup5.prettify())

In [29]:
# scrap icci bowler names

bowler_names = []

for i in soup5.find_all('td', class_="table-body__cell rankings-table__name name"):
    bowler_names.append(i.text.split())
    
bowler_names

[['Josh', 'Hazlewood'],
 ['Mujeeb', 'Ur', 'Rahman'],
 ['Jasprit', 'Bumrah'],
 ['Shaheen', 'Afridi'],
 ['Mohammad', 'Nabi'],
 ['Mehedi', 'Hasan'],
 ['Matt', 'Henry'],
 ['Mitchell', 'Starc'],
 ['Rashid', 'Khan'],
 ['Mustafizur', 'Rahman'],
 ['Chris', 'Woakes'],
 ['Andy', 'McBrine'],
 ['Kagiso', 'Rabada'],
 ['Adam', 'Zampa'],
 ['Shakib', 'Al', 'Hasan'],
 ['Alzarri', 'Joseph'],
 ['Yuzvendra', 'Chahal'],
 ['Pat', 'Cummins'],
 ['Mitchell', 'Santner'],
 ['Lungi', 'Ngidi'],
 ['Mark', 'Watt'],
 ['Akeal', 'Hosein'],
 ['David', 'Willey'],
 ['Tabraiz', 'Shamsi'],
 ['Ahmed', 'Raza'],
 ['Akila', 'Dananjaya'],
 ['Mark', 'Wood'],
 ['Keshav', 'Maharaj'],
 ['Dushmantha', 'Chameera'],
 ['Shadab', 'Khan'],
 ['Bhuvneshwar', 'Kumar'],
 ['Kuldeep', 'Yadav'],
 ['Sandeep', 'Lamichhane'],
 ['Bilal', 'Khan'],
 ['Mohammad', 'Shami'],
 ['Wanindu', 'Hasaranga'],
 ['Tim', 'Southee'],
 ['Lachlan', 'Ferguson'],
 ['Adil', 'Rashid'],
 ['Saurabh', 'Netravalkar'],
 ['Taskin', 'Ahmed'],
 ['Mohammad', 'Nawaz'],
 ['Simi', 'Singh'],
 ['Ravindra', 'Jadeja'],
 ['Dwaine', 'Pretorius'],
 ['Haris', 'Rauf'],
 ['Zeeshan', 'Maqsood'],
 ['M.', 'Prasidh', 'Krishna'],
 ['Chad', 'Soper'],
 ['Colin', 'de', 'Grandhomme'],
 ['Hamza', 'Tahir'],
 ['Rohan', 'Mustafa'],
 ['Blessing', 'Muzarabani'],
 ['Taijul', 'Islam'],
 ['Jason', 'Holder'],
 ['Kaleemullah'],
 ['Craig', 'Young'],
 ['Ish', 'Sodhi'],
 ['Andile', 'Phehlukwayo'],
 ['Shardul', 'Thakur'],
 ['Joshua', 'Little'],
 ['Imad', 'Wasim'],
 ['Sheldon', 'Cottrell'],
 ['Anrich', 'Nortje'],
 ['Hasan', 'Ali'],
 ['Reece', 'Topley'],
 ['Dhananjaya', 'de', 'Silva'],
 ['Jhye', 'Richardson'],
 ['Safyaan', 'Sharif'],
 ['Mohammed', 'Siraj'],
 ['Moeen', 'Ali'],
 ['Sikandar', 'Raza'],
 ['Ashton', 'Agar'],
 ['Maheesh', 'Theekshana'],
 ['Fred', 'Klaassen'],
 ['Michael', 'Leask'],
 ['Nuwan', 'Pradeep'],
 ['Mohammad', 'Mohammad', 'Saifuddin'],
 ['Jan', 'Frylinck'],
 ['Jeffrey', 'Vandersay'],
 ['Nosthush', 'Kenjige'],
 ['Tendai', 'Chatara'],
 ['Akshar', 'Patel'],
 ['Saqib', 'Mahmood'],
 ['Wahab', 'Riaz'],
 ['Hardik', 'Pandya'],
 ['Faheem', 'Ashraf'],
 ['Richard', 'Ngarava'],
 ['Assad', 'Vala'],
 ['Zahoor', 'Khan'],
 ['Tom', 'Curran'],
 ['Khawar', 'Ali'],
 ['Sean', 'Abbott'],
 ['Jimmy', 'Neesham'],
 ['Logan', 'van', 'Beek'],
 ['Mark', 'Adair'],
 ['Sompal', 'Kami'],
 ['Karan', 'KC'],
 ['Norman', 'Vanua']]

In [30]:
# scrap icci bowlers country names

bowler_country = []

for i in soup5.find_all('td', class_="table-body__cell nationality-logo rankings-table__team"):
    bowler_country.append(i.text.split())
    
bowler_country

[['AUS'],
 ['AFG'],
 ['IND'],
 ['PAK'],
 ['AFG'],
 ['BAN'],
 ['NZ'],
 ['AUS'],
 ['AFG'],
 ['BAN'],
 ['ENG'],
 ['IRE'],
 ['SA'],
 ['AUS'],
 ['BAN'],
 ['WI'],
 ['IND'],
 ['AUS'],
 ['NZ'],
 ['SA'],
 ['SCO'],
 ['WI'],
 ['ENG'],
 ['SA'],
 ['UAE'],
 ['SL'],
 ['ENG'],
 ['SA'],
 ['SL'],
 ['PAK'],
 ['IND'],
 ['IND'],
 ['NEP'],
 ['OMA'],
 ['IND'],
 ['SL'],
 ['NZ'],
 ['NZ'],
 ['ENG'],
 ['USA'],
 ['BAN'],
 ['PAK'],
 ['IRE'],
 ['IND'],
 ['SA'],
 ['PAK'],
 ['OMA'],
 ['IND'],
 ['PNG'],
 ['NZ'],
 ['SCO'],
 ['UAE'],
 ['ZIM'],
 ['BAN'],
 ['WI'],
 ['OMA'],
 ['IRE'],
 ['NZ'],
 ['SA'],
 ['IND'],
 ['IRE'],
 ['PAK'],
 ['WI'],
 ['SA'],
 ['PAK'],
 ['ENG'],
 ['SL'],
 ['AUS'],
 ['SCO'],
 ['IND'],
 ['ENG'],
 ['ZIM'],
 ['AUS'],
 ['SL'],
 ['NED'],
 ['SCO'],
 ['SL'],
 ['BAN'],
 ['NAM'],
 ['SL'],
 ['USA'],
 ['ZIM'],
 ['IND'],
 ['ENG'],
 ['PAK'],
 ['IND'],
 ['PAK'],
 ['ZIM'],
 ['PNG'],
 ['UAE'],
 ['ENG'],
 ['OMA'],
 ['AUS'],
 ['NZ'],
 ['NED'],
 ['IRE'],
 ['NEP'],
 ['NEP'],
 ['PNG']]

In [31]:
# scrap icci Bowler rating

bowler_rating = []

for i in soup5.find_all('td', class_="table-body__cell rating"):
    bowler_rating.append(i.text.split())
    
bowler_rating

[['718'],
 ['676'],
 ['662'],
 ['661'],
 ['657'],
 ['655'],
 ['654'],
 ['653'],
 ['651'],
 ['640'],
 ['640'],
 ['630'],
 ['625'],
 ['622'],
 ['619'],
 ['609'],
 ['604'],
 ['600'],
 ['596'],
 ['577'],
 ['574'],
 ['573'],
 ['569'],
 ['567'],
 ['555'],
 ['546'],
 ['543'],
 ['541'],
 ['537'],
 ['536'],
 ['535'],
 ['535'],
 ['534'],
 ['532'],
 ['532'],
 ['531'],
 ['524'],
 ['521'],
 ['506'],
 ['501'],
 ['498'],
 ['495'],
 ['493'],
 ['491'],
 ['485'],
 ['479'],
 ['478'],
 ['473'],
 ['473'],
 ['473'],
 ['472'],
 ['470'],
 ['470'],
 ['469'],
 ['464'],
 ['462'],
 ['462'],
 ['461'],
 ['459'],
 ['455'],
 ['454'],
 ['452'],
 ['452'],
 ['450'],
 ['449'],
 ['449'],
 ['449'],
 ['448'],
 ['448'],
 ['447'],
 ['445'],
 ['434'],
 ['434'],
 ['433'],
 ['433'],
 ['432'],
 ['432'],
 ['428'],
 ['423'],
 ['422'],
 ['420'],
 ['417'],
 ['416'],
 ['415'],
 ['415'],
 ['414'],
 ['413'],
 ['413'],
 ['411'],
 ['408'],
 ['399'],
 ['398'],
 ['398'],
 ['397'],
 ['394'],
 ['390'],
 ['390'],
 ['387'],
 ['383']]

In [32]:
# making dataframe of bowler to create table

df_ball = pd.DataFrame({'BOWLER':bowler_names, 'COUNTRY':bowler_country, 'ICC_RATING':bowler_rating})

In [33]:
df_ball

                  BOWLER COUNTRY ICC_RATING
0      [Josh, Hazlewood]   [AUS]      [718]
1   [Mujeeb, Ur, Rahman]   [AFG]      [676]
2      [Jasprit, Bumrah]   [IND]      [662]
3      [Shaheen, Afridi]   [PAK]      [661]
4       [Mohammad, Nabi]   [AFG]      [657]
..                   ...     ...        ...
94    [Logan, van, Beek]   [NED]      [394]
95         [Mark, Adair]   [IRE]      [390]
96        [Sompal, Kami]   [NEP]      [390]
97           [Karan, KC]   [NEP]      [387]
98       [Norman, Vanua]   [PNG]      [383]

[99 rows x 3 columns]

# 6)	Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a)	Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [87]:
# send get request to the webpage server to get the source code of the page

icc_womens_team = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

In [88]:
icc_womens_team

In [89]:
soup6 = BeautifulSoup(icc_womens_team.content)
#print(soup6.prettify())

In [19]:
# scrap icc womens team name

womens_team = []

for i in soup6.find_all('td', class_="table-body__cell rankings-table__team"):
    womens_team.append(i.text.split())
    
womens_team

[['England', 'ENG'],
 ['South', 'Africa', 'SA'],
 ['India', 'IND'],
 ['New', 'Zealand', 'NZ'],
 ['West', 'Indies', 'WI'],
 ['Bangladesh', 'BAN'],
 ['Pakistan', 'PAK'],
 ['Ireland', 'IRE'],
 ['Sri', 'Lanka', 'SL'],
 ['Zimbabwe', 'ZIM']]

In [29]:
# scrap icci womens team points and matches

womens_match = []

for i in soup6.find_all('td', class_="table-body__cell u-center-text"):
    womens_match.append(i.text.split())
    
womens_match

[['34'],
 ['4,097'],
 ['35'],
 ['4,157'],
 ['33'],
 ['3,392'],
 ['32'],
 ['3,161'],
 ['31'],
 ['2,815'],
 ['12'],
 ['930'],
 ['30'],
 ['1,962'],
 ['11'],
 ['516'],
 ['11'],
 ['495'],
 ['8'],
 ['0']]

In [31]:
# scrap icci womens team rating

womens_team_rating = []

for i in soup6.find_all('td', class_="table-body__cell u-text-right rating"):
    womens_team_rating.append(i.text)
    
womens_team_rating

['121', '119', '103', '99', '91', '78', '65', '47', '45', '0']

b)	Top 10 women’s ODI Batting players along with the records of their team and rating.

In [3]:
# send get request to the webpage server to get the source code of the page

wm_batsman = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

In [4]:
wm_batsman

In [5]:
soup7 = BeautifulSoup(wm_batsman.content)
#print(soup7.prettify())

In [36]:
# scrap icci women batsmen names

wm_batsmen = []

for i in soup7.find_all('td', class_="table-body__cell rankings-table__name name"):
    wm_batsmen.append(i.text.split())
    
wm_batsmen

[['Beth', 'Mooney'],
 ['Natalie', 'Sciver'],
 ['Laura', 'Wolvaardt'],
 ['Meg', 'Lanning'],
 ['Rachael', 'Haynes'],
 ['Smriti', 'Mandhana'],
 ['Amy', 'Satterthwaite'],
 ['Harmanpreet', 'Kaur'],
 ['Chamari', 'Athapaththu'],
 ['Tammy', 'Beaumont'],
 ['Ellyse', 'Perry'],
 ['Deandra', 'Dottin'],
 ['Stafanie', 'Taylor'],
 ['Amelia', 'Kerr'],
 ['Sophie', 'Devine'],
 ['Heather', 'Knight'],
 ['Marizanne', 'Kapp'],
 ['Suzie', 'Bates'],
 ['Chloe-Lesleigh', 'Tryon'],
 ['Hayley', 'Matthews'],
 ['Mignon', 'du', 'Preez'],
 ['Danielle', 'Wyatt'],
 ['Ashleigh', 'Gardner'],
 ['Bismah', 'Maroof'],
 ['Sune', 'Luus'],
 ['Gaby', 'Lewis'],
 ['Fargana', 'Hoque'],
 ['Sophia', 'Dunkley'],
 ['Aliya', 'Riaz'],
 ['Maddie', 'Green'],
 ['Deepti', 'Sharma'],
 ['Laura', 'Delany'],
 ['Amy', 'Jones'],
 ['Tahlia', 'McGrath'],
 ['Sidra', 'Ameen'],
 ['Yastika', 'Bhatia'],
 ['Shafali', 'Verma'],
 ['Nahida', 'Khan'],
 ['Katey', 'Martin'],
 ['Rumana', 'Ahmed'],
 ['Nida', 'Dar'],
 ['Poonam', 'Raut'],
 ['Harshitha', 'Madavi'],
 ['Umaima', 'Sohail'],
 ['Lara', 'Goodall'],
 ['Nilakshi', 'Silva'],
 ['Javeria', 'Khan'],
 ['Leah', 'Paul'],
 ['Shemaine', 'Campbelle'],
 ['Dane', 'van', 'Niekerk'],
 ['Katherine', 'Brunt'],
 ['Pooja', 'Vastrakar'],
 ['Brooke', 'Halliday'],
 ['Muneeba', 'Ali'],
 ['Amy', 'Hunter'],
 ['Jess', 'Jonassen'],
 ['Nigar', 'Sultana'],
 ['Sharmin', 'Supta'],
 ['Salma', 'Khatun'],
 ['Lauren', 'Winfield'],
 ['Jhulan', 'Goswami'],
 ['Chedean', 'Nation'],
 ['Emma', 'Lamb'],
 ['Trisha', 'Chetty'],
 ['Andrie', 'Steyn'],
 ['Richa', 'Ghosh'],
 ['Lata', 'Mondal'],
 ['Prasadani', 'Weerakkody'],
 ['Lauren', 'Down'],
 ['Katie', 'Perkins'],
 ['Sophie', 'Ecclestone'],
 ['Orla', 'Prendergast'],
 ['Nicola', 'Carey'],
 ['Hasini', 'Perera'],
 ['Kavisha', 'Dilhari'],
 ['Kycia', 'Knight'],
 ['Mary', 'Waldron'],
 ['Murshida', 'Khatun'],
 ['Shamima', 'Sultana'],
 ['Annabel', 'Sutherland'],
 ['Mary-Anne', 'Musonda'],
 ['Georgina', 'Dempsey'],
 ['Jess', 'Kerr'],
 ['Kate', 'Cross'],
 ['Charlotte', 'Dean'],
 ['Shikha', 'Pandey'],
 ['Ritu', 'Moni'],
 ['Tazmin', 'Brits'],
 ['Kyshona', 'Knight'],
 ['Josephine', 'Nkomo'],
 ['Rajeshwari', 'Gayakwad'],
 ['Jemimah', 'Rodriques'],
 ['Sophie', 'MacMahon'],
 ['Lea', 'Tahuhu'],
 ['Meghna', 'Singh'],
 ['Hayley', 'Jensen'],
 ['Sneh', 'Rana'],
 ['Frederique', 'Overdijk'],
 ['Anushka', 'Sanjeewani']]

In [37]:
# scrap icci women team names

wm_team = []

for i in soup7.find_all('span', class_="table-body__logo-text"):
    wm_team.append(i.text.split())
    
wm_team

[['AUS'],
 ['ENG'],
 ['SA'],
 ['AUS'],
 ['AUS'],
 ['IND'],
 ['NZ'],
 ['IND'],
 ['SL'],
 ['ENG'],
 ['AUS'],
 ['WI'],
 ['WI'],
 ['NZ'],
 ['NZ'],
 ['ENG'],
 ['SA'],
 ['NZ'],
 ['SA'],
 ['WI'],
 ['SA'],
 ['ENG'],
 ['AUS'],
 ['PAK'],
 ['SA'],
 ['IRE'],
 ['BAN'],
 ['ENG'],
 ['PAK'],
 ['NZ'],
 ['IND'],
 ['IRE'],
 ['ENG'],
 ['AUS'],
 ['PAK'],
 ['IND'],
 ['IND'],
 ['PAK'],
 ['NZ'],
 ['BAN'],
 ['PAK'],
 ['IND'],
 ['SL'],
 ['PAK'],
 ['SA'],
 ['SL'],
 ['PAK'],
 ['IRE'],
 ['WI'],
 ['SA'],
 ['ENG'],
 ['IND'],
 ['NZ'],
 ['PAK'],
 ['IRE'],
 ['AUS'],
 ['BAN'],
 ['BAN'],
 ['BAN'],
 ['ENG'],
 ['IND'],
 ['WI'],
 ['ENG'],
 ['SA'],
 ['SA'],
 ['IND'],
 ['BAN'],
 ['SL'],
 ['NZ'],
 ['NZ'],
 ['ENG'],
 ['IRE'],
 ['AUS'],
 ['SL'],
 ['SL'],
 ['WI'],
 ['IRE'],
 ['BAN'],
 ['BAN'],
 ['AUS'],
 ['ZIM'],
 ['IRE'],
 ['NZ'],
 ['ENG'],
 ['ENG'],
 ['IND'],
 ['BAN'],
 ['SA'],
 ['WI'],
 ['ZIM'],
 ['IND'],
 ['IND'],
 ['IRE'],
 ['NZ'],
 ['IND'],
 ['NZ'],
 ['IND'],
 ['NED'],
 ['SL']]

In [38]:
# scrap icci womens batsman rating

wmbts_rating = []

for i in soup7.find_all('td', class_="table-body__cell rating"):
    wmbts_rating.append(i.text.split())
    
wmbts_rating

[['749'],
 ['740'],
 ['732'],
 ['710'],
 ['701'],
 ['698'],
 ['681'],
 ['662'],
 ['655'],
 ['645'],
 ['642'],
 ['626'],
 ['618'],
 ['598'],
 ['591'],
 ['585'],
 ['585'],
 ['569'],
 ['557'],
 ['555'],
 ['548'],
 ['535'],
 ['507'],
 ['506'],
 ['496'],
 ['494'],
 ['493'],
 ['482'],
 ['474'],
 ['474'],
 ['462'],
 ['455'],
 ['447'],
 ['445'],
 ['445'],
 ['438'],
 ['432'],
 ['423'],
 ['420'],
 ['419'],
 ['411'],
 ['405'],
 ['402'],
 ['396'],
 ['394'],
 ['384'],
 ['382'],
 ['377'],
 ['377'],
 ['363'],
 ['363'],
 ['361'],
 ['346'],
 ['346'],
 ['343'],
 ['340'],
 ['339'],
 ['331'],
 ['323'],
 ['321'],
 ['319'],
 ['316'],
 ['314'],
 ['314'],
 ['311'],
 ['308'],
 ['301'],
 ['298'],
 ['294'],
 ['293'],
 ['291'],
 ['275'],
 ['274'],
 ['267'],
 ['266'],
 ['263'],
 ['255'],
 ['252'],
 ['248'],
 ['246'],
 ['244'],
 ['239'],
 ['238'],
 ['237'],
 ['236'],
 ['233'],
 ['230'],
 ['224'],
 ['224'],
 ['222'],
 ['221'],
 ['214'],
 ['213'],
 ['213'],
 ['212'],
 ['212'],
 ['211'],
 ['210'],
 ['209']]

c)	Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [90]:
# send get request to the webpage server to get the source code of the page

wm_allrounder = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

In [91]:
wm_allrounder

In [92]:
soup8 = BeautifulSoup(wm_allrounder.content)
#print(soup8.prettify())

In [42]:
# scrap icci womens odi all rounder players name

allro_players = []

for i in soup8.find_all('td', class_="table-body__cell rankings-table__name name"):
    allro_players.append(i.text.split())
    
allro_players

[['Natalie', 'Sciver'],
 ['Marizanne', 'Kapp'],
 ['Hayley', 'Matthews'],
 ['Amelia', 'Kerr'],
 ['Deepti', 'Sharma'],
 ['Ashleigh', 'Gardner'],
 ['Jess', 'Jonassen'],
 ['Jhulan', 'Goswami'],
 ['Sophie', 'Ecclestone'],
 ['Katherine', 'Brunt'],
 ['Stafanie', 'Taylor'],
 ['Sophie', 'Devine'],
 ['Rumana', 'Ahmed'],
 ['Nida', 'Dar'],
 ['Chloe-Lesleigh', 'Tryon'],
 ['Salma', 'Khatun'],
 ['Chamari', 'Athapaththu'],
 ['Sune', 'Luus'],
 ['Harmanpreet', 'Kaur']]

In [43]:
# scrap icci womens odi all rounder players country

allro_players_con = []

for i in soup8.find_all('span', class_="table-body__logo-text"):
    allro_players_con.append(i.text.split())
    
allro_players_con

[['ENG'],
 ['SA'],
 ['WI'],
 ['NZ'],
 ['IND'],
 ['AUS'],
 ['AUS'],
 ['IND'],
 ['ENG'],
 ['ENG'],
 ['WI'],
 ['NZ'],
 ['BAN'],
 ['PAK'],
 ['SA'],
 ['BAN'],
 ['SL'],
 ['SA'],
 ['IND']]

In [44]:
# scrap icci womens allrounder players rating

wm_allrou_rating = []

for i in soup8.find_all('td', class_="table-body__cell rating"):
    wm_allrou_rating.append(i.text.split())
    
wm_allrou_rating

[['372'],
 ['349'],
 ['339'],
 ['336'],
 ['271'],
 ['270'],
 ['246'],
 ['219'],
 ['217'],
 ['215'],
 ['207'],
 ['202'],
 ['201'],
 ['200'],
 ['197'],
 ['178'],
 ['178'],
 ['171'],
 ['160']]

In [45]:
# scrap icci womens allrounder players career best rating

wm_career_rating = []

for i in soup8.find_all('td', class_="table-body__cell u-text-right u-hide-phablet"):
    wm_career_rating.append(i.text.split())
    
wm_career_rating

[['395', 'v', 'South', 'Africa,', '11/07/2022'],
 ['419', 'v', 'West', 'Indies,', '10/09/2021'],
 ['365', 'v', 'India,', '12/03/2022'],
 ['339', 'v', 'South', 'Africa,', '17/03/2022'],
 ['397', 'v', 'South', 'Africa,', '09/10/2019'],
 ['279', 'v', 'West', 'Indies,', '30/03/2022'],
 ['308', 'v', 'West', 'Indies,', '11/09/2019'],
 ['308', 'v', 'Australia,', '02/02/2016'],
 ['217', 'v', 'South', 'Africa,', '31/03/2022'],
 ['296', 'v', 'Australia,', '03/02/2022'],
 ['559', 'v', 'New', 'Zealand,', '10/10/2013'],
 ['305', 'v', 'Australia,', '05/10/2020'],
 ['198', 'v', 'South', 'Africa,', '05/03/2022'],
 ['206', 'v', 'Sri', 'Lanka,', '03/06/2022'],
 ['197', 'v', 'England,', '18/07/2022'],
 ['170', 'v', 'Australia,', '25/03/2022'],
 ['187', 'v', 'South', 'Africa,', '17/02/2019'],
 ['223', 'v', 'Ireland,', '17/06/2022'],
 ['174', 'v', 'South', 'Africa,', '14/03/2021']]

# Make Data Frame

In [46]:
print(len(allro_players), len(allro_players_con), len(wm_allrou_rating), len(wm_career_rating))

19 19 19 19

In [47]:
import pandas as pd

In [48]:
# make data frame table of womens all rounder players

df_wm_allrou_players = pd.DataFrame({'WOMENS_PLAYER_NAME':allro_players, 'COUNTRY_NAMES':allro_players_con, 'WM_ICC_RATING':wm_allrou_rating, 'CAREER_RATING':wm_career_rating})

In [49]:
df_wm_allrou_players

,WOMENS_PLAYER_NAME,COUNTRY_NAMES,WM_ICC_RATING,CAREER_RATING
0,"[Natalie, Sciver]",[ENG],[372],"[395, v, South, Africa,, 11/07/2022]"
1,"[Marizanne, Kapp]",[SA],[349],"[419, v, West, Indies,, 10/09/2021]"
2,"[Hayley, Matthews]",[WI],[339],"[365, v, India,, 12/03/2022]"
3,"[Amelia, Kerr]",[NZ],[336],"[339, v, South, Africa,, 17/03/2022]"
4,"[Deepti, Sharma]",[IND],[271],"[397, v, South, Africa,, 09/10/2019]"
5,"[Ashleigh, Gardner]",[AUS],[270],"[279, v, West, Indies,, 30/03/2022]"
6,"[Jess, Jonassen]",[AUS],[246],"[308, v, West, Indies,, 11/09/2019]"
7,"[Jhulan, Goswami]",[IND],[219],"[308, v, Australia,, 02/02/2016]"
8,"[Sophie, Ecclestone]",[ENG],[217],"[217, v, South, Africa,, 31/03/2022]"
9,"[Katherine, Brunt]",[ENG],[215],"[296, v, Australia,, 03/02/2022]"
10,"[Stafanie, Taylor]",[WI],[207],"[559, v, New, Zealand,, 10/10/2013]"
11,"[Sophie, Devine]",[NZ],[202],"[305, v, Australia,, 05/10/2020]"
12,"[Rumana, Ahmed]",[BAN],[201],"[198, v, South, Africa,, 05/03/2022]"
13,"[Nida, Dar]",[PAK],[200],"[206, v, Sri, Lanka,, 03/06/2022]"
14,"[Chloe-Lesleigh, Tryon]",[SA],[197],"[197, v, England,, 18/07/2022]"
15,"[Salma, Khatun]",[BAN],[178],"[170, v, Australia,, 25/03/2022]"
16,"[Chamari, Athapaththu]",[SL],[178],"[187, v, South, Africa,, 17/02/2019]"
17,"[Sune, Luus]",[SA],[171],"[223, v, Ireland,, 17/06/2022]"
18,"[Harmanpreet, Kaur]",[IND],[160],"[174, v, South, Africa,, 14/03/2021]"

# 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :

i) Headline
ii) Time

i) Headline

In [93]:
# send get request to the webpage server to get the source code of the page

headlines = requests.get('https://www.cnbc.com/world/?region=world')

In [94]:
headlines

In [95]:
soup9 = BeautifulSoup(headlines.content)
#print(soup9.prettify())

In [14]:
# scrap news headings

news_headline = []  #empty list

for i in soup9.find_all('header', class_="SectionWrapper-header"):
    news_headline.append(i.text.split())
    
news_headline

[['Pro', 'News', 'and', 'Analysis'],
 ['Sustainable', 'Future'],
 ['Coronavirus'],
 ['CNBC', 'Travel'],
 ['Make', 'It'],
 ['Investing', 'in', 'supertrends']]

ii) Time

In [20]:
# scrap news times

time = []  #empty list

for i in soup9.find_all('time', class_="LatestNews-timestamp"):
    time.append(i.text)
    
time

['8 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '9 Hours Ago',
 '9 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago']

iii) News Link

In [97]:
# scrap news link

link = []  #empty list

for i in soup9.find_all('a'):
    link.append(i.get('href'))
    
link

['#MainContent',
 '//www.cnbc.com/world/',
 '/',
 '/markets/',
 '/pre-markets/',
 '/us-markets/',
 '/markets-europe/',
 '/china-markets/',
 '/markets-asia-pacific/',
 '/world-markets/',
 '/currencies/',
 '/cryptocurrency/',
 '/futures-and-commodities/',
 '/bonds/',
 '/funds-and-etfs/',
 '/business/',
 '/economy/',
 '/finance/',
 '/health-and-science/',
 '/media/',
 '/real-estate/',
 '/energy/',
 '/climate/',
 '/transportation/',
 '/industrials/',
 '/retail/',
 '/wealth/',
 '/life/',
 '/small-business/',
 '/investing/',
 '/personal-finance/',
 '/fintech/',
 '/financial-advisors/',
 '/options-action/',
 '/etf-street/',
 'https://buffett.cnbc.com',
 '/earnings/',
 '/trader-talk/',
 '/technology/',
 '/cybersecurity/',
 '/enterprise/',
 '/internet/',
 '/media/',
 '/mobile/',
 '/social-media/',
 '/cnbc-disruptors/',
 '/tech-guide/',
 '/politics/',
 '/white-house/',
 '/policy/',
 '/defense/',
 '/congress/',
 '/equity-opportunity/',
 '/europe-politics/',
 '/china-politics/',
 '/asia-politics/',
 '/world-politics/',
 '/tv/',
 '/live-audio/',
 '/latest-video/',
 '/top-video/',
 '/video-ceo-interviews/',
 '/europe-television/',
 '/asia-business-day/',
 '/podcast/',
 '/digital-original/',
 '/watchlist/',
 '/investingclub/',
 '/investingclub/cramer-trade-alert/',
 '/investingclub/cramers-morning-thoughts/',
 '/investingclub/analysis/',
 '/investingclub/morning-meeting/',
 '/investingclub/charitable-trust/',
 '/pro/',
 '/pro/news/',
 '/pro/',
 '#',
 '#',
 '/make-it/',
 '/?region=usa',
 '/world/',
 '/watchlist/',
 '#',
 '#',
 '/',
 '/markets/',
 '/business/',
 '/investing/',
 '/technology/',
 '/politics/',
 '/tv/',
 '/watchlist/',
 '/investingclub/',
 '/pro/',
 '#',
 '#',
 '#',
 '#',
 '#',
 'https://www.cnbc.com/2022/09/23/european-stocks-expected-to-open-in-the-green-as-investors-digest-central-bank-moves-.html',
 'https://www.cnbc.com/2022/09/23/stocks-could-continue-skittish-trading-until-interest-rate-move-calms-down.html',
 'https://www.cnbc.com/quotes/US10Y',
 'https://www.cnbc.com/2022/09/23/hedge-funds-ramp-up-market-bets-as-volatility-brings-the-asset-class-back-into-favor.html',
 'https://www.cnbc.com/2022/09/23/citi-says-sterling-dollar-parity-is-possible-as-uk-risks-currency-crisis.html',
 'https://www.cnbc.com/2022/09/24/convertible-sales-fall-in-us-amid-popularity-of-evs-suvs.html',
 'https://www.cnbc.com/2022/09/22/charts-suggest-inflation-could-soon-come-down-substantially-jim-cramer-says.html',
 'https://www.cnbc.com/2022/09/25/italy-poised-for-hard-right-leader-as-country-votes-in-snap-election.html',
 'https://www.cnbc.com/2022/09/25/italy-poised-for-hard-right-leader-as-country-votes-in-snap-election.html',
 'https://www.cnbc.com/video/2022/09/22/70-governments-in-77-years-why-italy-changes-governments-so-often.html',
 'https://www.cnbc.com/2022/09/23/from-the-fed-to-europes-currency-crisis-heres-whats-behind-this-selloff-in-financial-markets.html',
 'https://www.cnbc.com/2022/09/23/from-the-fed-to-europes-currency-crisis-heres-whats-behind-this-selloff-in-financial-markets.html',
 'https://www.cnbc.com/2022/09/23/google-ceo-pichai-fields-questions-on-cost-cuts-at-all-hands-meeting-.html',
 'https://www.cnbc.com/2022/09/23/google-ceo-pichai-fields-questions-on-cost-cuts-at-all-hands-meeting-.html',
 'https://www.cnbc.com/2022/09/25/italy-poised-for-hard-right-leader-as-country-votes-in-snap-election.html',
 'https://www.cnbc.com/2022/09/24/three-rules-for-a-successful-open-relationship.html',
 'https://www.cnbc.com/2022/09/24/biden-administration-awards-1point5-billion-to-fight-opioid-crisis.html',
 'https://www.cnbc.com/2022/09/24/top-10-cities-with-the-best-pizzerias-worldwide-.html',
 'https://www.cnbc.com/2022/09/24/easy-meals-for-two-under-20-from-black-girls-in-trader-joes-creator.html',
 'https://www.cnbc.com/2022/09/24/how-to-raise-resilient-kids-by-developing-their-brains-with-nurturing-routines-parenting-expert.html',
 'https://www.cnbc.com/2022/09/24/how-airlines-plan-to-end-one-billion-tons-of-carbon-emissions.html',
 'https://www.cnbc.com/2022/09/24/queer-eyes-karamo-brown-shares-morning-routine.html',
 'https://www.cnbc.com/2022/09/24/vermont-new-mexico-california-us-states-with-least-air-pollution.html',
 'https://www.cnbc.com/2022/09/24/new-york-now-no-1-port-in-us-as-sea-change-in-trade-hits-west-coast.html',
 '/pro/',
 'https://www.cnbc.com/2022/09/24/analysts-name-top-high-conviction-stocks-for-playing-market-turbulence.html',
 '/pro/',
 'https://www.cnbc.com/2022/09/24/feared-stock-market-bottom-retest-is-now-underway.html',
 'https://www.cnbc.com/2022/09/24/wallethub-top-10-cities-to-retire-2022-nearly-half-are-in-florida.html',
 '/pro/',
 'https://www.cnbc.com/2022/09/24/quantum-investing-perils-and-promise-of-quantum-computing-are-nearing.html',
 'https://www.cnbc.com/2022/09/24/what-parent-plus-borrowers-need-to-know-about-student-loan-forgiveness.html',
 'https://www.cnbc.com/2022/09/24/check-in-smoke-up-tune-out-cannabis-friendly-vacation-rentals-catch-on.html',
 'https://www.cnbc.com/2022/09/24/convertible-sales-fall-in-us-amid-popularity-of-evs-suvs.html',
 'https://www.cnbc.com/2022/09/24/liz-truss-britains-lurch-to-reaganomics-gets-thumbs-down-from-markets.html',
 '/investingclub/',
 'https://www.cnbc.com/2022/09/23/it-was-another-painful-week-to-own-stocks-but-we-have-a-new-plan-for-monday.html',
 '/pro/',
 'https://www.cnbc.com/2022/09/23/stocks-could-continue-skittish-trading-until-interest-rate-move-calms-down.html',
 '/pro/',
 'https://www.cnbc.com/2022/09/23/pro-picks-watch-all-of-fridays-big-stock-calls-on-cnbc.html',
 'https://www.cnbc.com/2022/09/23/careers-where-over-50percent-of-workers-are-happy-with-their-pay.html',
 'https://www.cnbc.com/2022/09/23/new-york-ag-wrongly-says-yankees-game-on-apple-tv-costs-extra.html',
 'https://www.cnbc.com/2022/09/23/tech-stocks-worst-two-week-stretch-since-the-start-of-pandemic.html',
 '/investingclub/',
 'https://www.cnbc.com/2022/09/23/jim-cramer-sat-down-with-the-ceos-of-salesforce-and-slack-this-week.html',
 'https://www.cnbc.com/2022/09/23/some-homebuyers-are-facing-payment-shock-ways-to-save-on-a-mortgage.html',
 '/pro/',
 'https://www.cnbc.com/2022/09/23/ether-is-down-almost-20percent-since-the-merge-heres-whats-going-on.html',
 'https://www.cnbc.com/2022/09/23/elon-musk-direct-reports-at-tesla.html',
 'https://www.cnbc.com/2022/09/23/trump-merger-partner-shares-fall-dramatically.html',
 '/investingclub/',
 'https://www.cnbc.com/2022/09/23/us-fiscal-policy-is-undermining-the-feds-efforts-to-fight-inflation.html',
 '/us-market-movers/',
 'https://www.cnbc.com/2022/09/25/north-korea-fires-ballistic-missile-ahead-of-kamala-harris-visit.html',
 'https://www.cnbc.com/2022/09/25/north-korea-fires-ballistic-missile-ahead-of-kamala-harris-visit.html',
 '/pro/',
 'https://www.cnbc.com/2022/09/23/ether-is-down-almost-20percent-since-the-merge-heres-whats-going-on.html',
 'https://www.cnbc.com/tanaya-macheel/',
 'https://www.cnbc.com/2022/09/23/ether-is-down-almost-20percent-since-the-merge-heres-whats-going-on.html',
 'https://www.cnbc.com/tanaya-macheel/',
 'https://www.cnbc.com/2022/09/24/us-sending-dangerous-signals-on-taiwan-china-tells-blinken.html',
 'https://www.cnbc.com/2022/09/24/us-sending-dangerous-signals-on-taiwan-china-tells-blinken.html',
 'https://www.cnbc.com/2022/09/24/new-york-now-no-1-port-in-us-as-sea-change-in-trade-hits-west-coast.html',
 'https://www.cnbc.com/lori-ann-larocco/',
 'https://www.cnbc.com/2022/09/24/new-york-now-no-1-port-in-us-as-sea-change-in-trade-hits-west-coast.html',
 'https://www.cnbc.com/lori-ann-larocco/',
 '/pro/',
 'https://www.cnbc.com/2022/09/24/feared-stock-market-bottom-retest-is-now-underway.html',
 'https://www.cnbc.com/michael-santoli/',
 'https://www.cnbc.com/2022/09/24/feared-stock-market-bottom-retest-is-now-underway.html',
 'https://www.cnbc.com/michael-santoli/',
 'https://www.cnbc.com/2022/09/24/liz-truss-britains-lurch-to-reaganomics-gets-thumbs-down-from-markets.html',
 'https://www.cnbc.com/matt-clinch/',
 'https://www.cnbc.com/2022/09/24/liz-truss-britains-lurch-to-reaganomics-gets-thumbs-down-from-markets.html',
 'https://www.cnbc.com/matt-clinch/',
 'https://www.cnbc.com/2022/09/24/convertible-sales-fall-in-us-amid-popularity-of-evs-suvs.html',
 'https://www.cnbc.com/michael-wayland/',
 'https://www.cnbc.com/2022/09/24/convertible-sales-fall-in-us-amid-popularity-of-evs-suvs.html',
 'https://www.cnbc.com/michael-wayland/',
 'https://www.cnbc.com/2022/09/24/top-10-cities-with-the-best-pizzerias-worldwide-.html',
 'https://www.cnbc.com/2022/09/24/top-10-cities-with-the-best-pizzerias-worldwide-.html',
 'https://www.cnbc.com/2022/09/24/how-to-raise-resilient-kids-by-developing-their-brains-with-nurturing-routines-parenting-expert.html',
 'https://www.cnbc.com/2022/09/24/how-to-raise-resilient-kids-by-developing-their-brains-with-nurturing-routines-parenting-expert.html',
 'https://www.cnbc.com/2022/09/21/big-businesses-trumpet-esg-credentials-scrutiny-is-on-the-rise.html',
 'https://www.cnbc.com/anmar-frangoul-profile--cnbc/',
 'https://www.cnbc.com/2022/09/21/big-businesses-trumpet-esg-credentials-scrutiny-is-on-the-rise.html',
 'https://www.cnbc.com/anmar-frangoul-profile--cnbc/',
 'https://www.cnbc.com/2022/09/23/inside-the-250-million-penthouse-on-billionaires-row.html',
 'https://www.cnbc.com/robert-frank/',
 'https://www.cnbc.com/2022/09/23/inside-the-250-million-penthouse-on-billionaires-row.html',
 'https://www.cnbc.com/robert-frank/',
 'https://www.cnbc.com/2022/09/22/diania-merriam-semi-retired-in-her-30s-now-she-works-7point5-hours-per-week.html',
 'https://www.cnbc.com/nicolas-vega/',
 'https://www.cnbc.com/2022/09/22/diania-merriam-semi-retired-in-her-30s-now-she-works-7point5-hours-per-week.html',
 'https://www.cnbc.com/nicolas-vega/',
 'https://www.cnbc.com/2022/09/23/tech-stocks-worst-two-week-stretch-since-the-start-of-pandemic.html',
 'https://www.cnbc.com/ari-levy/',
 'https://www.cnbc.com/2022/09/23/tech-stocks-worst-two-week-stretch-since-the-start-of-pandemic.html',
 'https://www.cnbc.com/ari-levy/',
 'https://www.cnbc.com/2022/09/23/british-pound-plunges-to-fresh-37-year-low-of-1point10-.html',
 'https://www.cnbc.com/jenni-reid/',
 'https://www.cnbc.com/2022/09/23/british-pound-plunges-to-fresh-37-year-low-of-1point10-.html',
 'https://www.cnbc.com/jenni-reid/',
 '/pro/',
 'https://www.cnbc.com/2022/09/24/quantum-investing-perils-and-promise-of-quantum-computing-are-nearing.html',
 'https://www.cnbc.com/hugh-son/',
 'https://www.cnbc.com/2022/09/24/quantum-investing-perils-and-promise-of-quantum-computing-are-nearing.html',
 'https://www.cnbc.com/hugh-son/',
 'https://www.cnbc.com/2022/09/23/elon-musk-direct-reports-at-tesla.html',
 'https://www.cnbc.com/lora-kolodny/',
 'https://www.cnbc.com/gabriel-cortes-bio/',
 'https://www.cnbc.com/2022/09/23/elon-musk-direct-reports-at-tesla.html',
 'https://www.cnbc.com/lora-kolodny/',
 'https://www.cnbc.com/gabriel-cortes-bio/',
 'https://www.cnbc.com/2022/09/23/mass-protests-in-iran-is-the-regimes-biggest-challenge-in-years.html',
 'https://www.cnbc.com/natasha-turak/',
 'https://www.cnbc.com/2022/09/23/mass-protests-in-iran-is-the-regimes-biggest-challenge-in-years.html',
 'https://www.cnbc.com/natasha-turak/',
 'https://www.cnbc.com/2022/09/23/uk-government-dishes-out-tax-cuts-as-country-braces-for-recession.html',
 'https://www.cnbc.com/jenni-reid/',
 'https://www.cnbc.com/2022/09/23/uk-government-dishes-out-tax-cuts-as-country-braces-for-recession.html',
 'https://www.cnbc.com/jenni-reid/',
 '/pro/',
 'https://www.cnbc.com/2022/09/23/stocks-could-continue-skittish-trading-until-interest-rate-move-calms-down.html',
 'https://www.cnbc.com/patti-domm/',
 'https://www.cnbc.com/2022/09/23/stocks-could-continue-skittish-trading-until-interest-rate-move-calms-down.html',
 'https://www.cnbc.com/patti-domm/',
 'https://www.cnbc.com/2022/09/23/hedge-funds-ramp-up-market-bets-as-volatility-brings-the-asset-class-back-into-favor.html',
 'https://www.cnbc.com/yun-li/',
 'https://www.cnbc.com/2022/09/23/hedge-funds-ramp-up-market-bets-as-volatility-brings-the-asset-class-back-into-favor.html',
 'https://www.cnbc.com/yun-li/',
 '//www.cnbc.com/us-market-movers/',
 '/us-market-movers/',
 '/stocks/',
 'https://www.cnbc.com/2022/09/23/stocks-could-continue-skittish-trading-until-interest-rate-move-calms-down.html',
 '/pro/',
 'https://www.cnbc.com/patti-domm/',
 'https://www.cnbc.com/2022/09/22/futures-inch-higher-following-another-day-of-losses-after-fed-rate-hike-sell-offs.html',
 'https://www.cnbc.com/samantha-subin/',
 'https://www.cnbc.com/alex-harring/',
 'https://www.cnbc.com/2022/09/23/10-year-treasury-yield-falls-as-markets-digest-fed-rate-hike.html',
 'https://www.cnbc.com/samantha-subin/',
 'https://www.cnbc.com/sophie-kiderlin/',
 'https://www.cnbc.com/2022/09/23/from-the-fed-to-europes-currency-crisis-heres-whats-behind-this-selloff-in-financial-markets.html',
 'https://www.cnbc.com/patti-domm/',
 '//www.cnbc.com/live-tv/',
 '//www.cnbc.com/latest-video/',
 'https://www.cnbc.com/video/2022/09/22/how-these-startups-are-fixing-water-waste-on-farms.html',
 'https://www.cnbc.com/video/2022/09/20/why-layoffs-may-be-on-the-horizon-in-the-us.html',
 'https://www.cnbc.com/video/2022/09/23/the-fed-will-have-to-take-the-terminal-funds-rate-higher-in-23-says-former-kc-fed-president.html',
 'https://www.cnbc.com/special-reports/',
 'https://www.cnbc.com/2022/09/23/google-ceo-pichai-fields-questions-on-cost-cuts-at-all-hands-meeting-.html',
 'https://www.cnbc.com/2022/09/24/how-to-raise-resilient-kids-by-developing-their-brains-with-nurturing-routines-parenting-expert.html',
 'https://www.cnbc.com/2022/09/22/diania-merriam-semi-retired-in-her-30s-now-she-works-7point5-hours-per-week.html',
 'https://www.cnbc.com/2022/09/21/inflation-relief-checks-residents-in-17-states-could-get-money-soon.html',
 'https://www.cnbc.com/2022/09/23/elon-musk-direct-reports-at-tesla.html',
 'https://www.cnbc.com/pro/news/',
 'https://www.cnbc.com/2022/09/24/analysts-name-top-high-conviction-stocks-for-playing-market-turbulence.html',
 'https://www.cnbc.com/2022/09/24/analysts-name-top-high-conviction-stocks-for-playing-market-turbulence.html',
 '/pro/',
 'https://www.cnbc.com/michael-bloom/',
 'https://www.cnbc.com/2022/09/24/feared-stock-market-bottom-retest-is-now-underway.html',
 'https://www.cnbc.com/2022/09/24/feared-stock-market-bottom-retest-is-now-underway.html',
 '/pro/',
 'https://www.cnbc.com/michael-santoli/',
 'https://www.cnbc.com/2022/09/24/quantum-investing-perils-and-promise-of-quantum-computing-are-nearing.html',
 'https://www.cnbc.com/2022/09/24/quantum-investing-perils-and-promise-of-quantum-computing-are-nearing.html',
 '/pro/',
 'https://www.cnbc.com/hugh-son/',
 'https://www.cnbc.com/2022/09/23/stocks-could-continue-skittish-trading-until-interest-rate-move-calms-down.html',
 'https://www.cnbc.com/2022/09/23/stocks-could-continue-skittish-trading-until-interest-rate-move-calms-down.html',
 '/pro/',
 'https://www.cnbc.com/patti-domm/',
 'https://www.cnbc.com/2022/09/23/pro-picks-watch-all-of-fridays-big-stock-calls-on-cnbc.html',
 'https://www.cnbc.com/2022/09/23/pro-picks-watch-all-of-fridays-big-stock-calls-on-cnbc.html',
 '/pro/',
 'https://www.cnbc.com/joshua-natoli/',
 'https://www.cnbc.com/sustainable-future/',
 'https://www.cnbc.com/2022/09/21/big-businesses-trumpet-esg-credentials-scrutiny-is-on-the-rise.html',
 'https://www.cnbc.com/2022/09/21/big-businesses-trumpet-esg-credentials-scrutiny-is-on-the-rise.html',
 'https://www.cnbc.com/anmar-frangoul-profile--cnbc/',
 'https://www.cnbc.com/2022/09/20/uns-guterres-says-polluters-must-pay-calls-for-tax-on-fossil-fuels.html',
 'https://www.cnbc.com/2022/09/20/uns-guterres-says-polluters-must-pay-calls-for-tax-on-fossil-fuels.html',
 'https://www.cnbc.com/anmar-frangoul-profile--cnbc/',
 'https://www.cnbc.com/2022/09/07/uks-new-energy-chief-says-fracking-interesting-we-need-fossil-fuels.html',
 'https://www.cnbc.com/2022/09/07/uks-new-energy-chief-says-fracking-interesting-we-need-fossil-fuels.html',
 'https://www.cnbc.com/anmar-frangoul-profile--cnbc/',
 'https://www.cnbc.com/video/2022/09/08/undps-human-development-report-uncertain-times-unsettled-lives.html',
 'https://www.cnbc.com/video/2022/09/08/undps-human-development-report-uncertain-times-unsettled-lives.html',
 'https://www.cnbc.com/tania-bryer/',
 'https://www.cnbc.com/2022/09/01/huge-offshore-wind-farm-hornsea-2-is-fully-operational-orsted-says.html',
 'https://www.cnbc.com/2022/09/01/huge-offshore-wind-farm-hornsea-2-is-fully-operational-orsted-says.html',
 'https://www.cnbc.com/anmar-frangoul-profile--cnbc/',
 'https://www.cnbc.com/coronavirus/',
 'https://www.cnbc.com/2022/09/23/moderna-asks-fda-to-authorize-omicron-covid-boosters-for-children-as-young-as-6-years-old.html',
 'https://www.cnbc.com/2022/09/23/moderna-asks-fda-to-authorize-omicron-covid-boosters-for-children-as-young-as-6-years-old.html',
 'https://www.cnbc.com/spencer-kimball/',
 'https://www.cnbc.com/2022/09/22/who-warns-ability-to-identify-new-covid-variants-is-diminishing-as-testing-declines-.html',
 'https://www.cnbc.com/2022/09/22/who-warns-ability-to-identify-new-covid-variants-is-diminishing-as-testing-declines-.html',
 'https://www.cnbc.com/spencer-kimball/',
 'https://www.cnbc.com/2022/09/21/watch-ukrainian-president-zelenskyy-addresses-un-general-assembly.html',
 'https://www.cnbc.com/2022/09/21/watch-ukrainian-president-zelenskyy-addresses-un-general-assembly.html',
 'https://www.cnbc.com/2022/09/21/what-another-major-rate-hike-by-the-federal-reserve-means-to-you.html',
 'https://www.cnbc.com/2022/09/21/what-another-major-rate-hike-by-the-federal-reserve-means-to-you.html',
 'https://www.cnbc.com/jessica-dickler/',
 'https://www.cnbc.com/2022/09/20/layoffs-loom-on-the-horizon-some-economists-say.html',
 'https://www.cnbc.com/2022/09/20/layoffs-loom-on-the-horizon-some-economists-say.html',
 'https://www.cnbc.com/andrea-miller/',
 'https://www.cnbc.com/cnbc-travel/',
 'https://www.cnbc.com/2022/09/22/what-are-the-most-common-crimes-in-hotels-not-theft-say-uk-police-.html',
 'https://www.cnbc.com/2022/09/22/what-are-the-most-common-crimes-in-hotels-not-theft-say-uk-police-.html',
 'https://www.cnbc.com/jenni-reid/',
 'https://www.cnbc.com/2022/09/19/how-much-does-it-cost-to-visit-bhutan-200-a-day-plus-travel-costs-.html',
 'https://www.cnbc.com/2022/09/19/how-much-does-it-cost-to-visit-bhutan-200-a-day-plus-travel-costs-.html',
 'https://www.cnbc.com/monica-pitrelli/',
 'https://www.cnbc.com/2022/09/16/woman-ochre-de-koonings-painting-from-theft-to-its-return-home.html',
 'https://www.cnbc.com/2022/09/16/woman-ochre-de-koonings-painting-from-theft-to-its-return-home.html',
 'https://www.cnbc.com/monica-pitrelli/',
 'https://www.cnbc.com/2022/09/12/best-hotels-for-business-travelers-in-asia-pacific.html',
 'https://www.cnbc.com/2022/09/12/best-hotels-for-business-travelers-in-asia-pacific.html',
 'https://www.cnbc.com/monica-pitrelli/',
 'https://www.cnbc.com/2022/09/09/where-russians-go-on-vacation-since-the-ukraine-war-started.html',
 'https://www.cnbc.com/2022/09/09/where-russians-go-on-vacation-since-the-ukraine-war-started.html',
 'https://www.cnbc.com/lee-ying-shan/',
 'https://www.cnbc.com/make-it/',
 'https://www.cnbc.com/2022/09/24/three-rules-for-a-successful-open-relationship.html',
 'https://www.cnbc.com/2022/09/24/three-rules-for-a-successful-open-relationship.html',
 'https://www.cnbc.com/aditi-shrikant-bio/',
 'https://www.cnbc.com/2022/09/24/top-10-cities-with-the-best-pizzerias-worldwide-.html',
 'https://www.cnbc.com/2022/09/24/top-10-cities-with-the-best-pizzerias-worldwide-.html',
 'https://www.cnbc.com/celia-fernandez/',
 'https://www.cnbc.com/2022/09/24/easy-meals-for-two-under-20-from-black-girls-in-trader-joes-creator.html',
 'https://www.cnbc.com/2022/09/24/easy-meals-for-two-under-20-from-black-girls-in-trader-joes-creator.html',
 'https://www.cnbc.com/renee-onque/',

# 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

Scrape below mentioned details :

In [46]:
# send get request to the webpage server to get the source code of the page

articles = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

In [47]:
articles

In [49]:
soup10 = BeautifulSoup(articles.content)
#print(soup10.prettify())

i) Paper Title

In [52]:
# scrap article title

p_title = []  #empty list

for i in soup10.find_all('h2', class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    p_title.append(i.text)
    
p_title

['Reward is enough',
 'Making sense of raw input',
 'Law and logic: A review from an argumentation perspective',
 'Creativity and artificial intelligence',
 'Artificial cognition for social human–robot interaction: An implementation',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Making sense of sensory input',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'The Hanabi challenge: A new frontier for AI research',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Argumentation in artificial intelligence',
 'Algorithms for computing strategies in two-player simultaneous move games',
 'Multiple object tracking: A literature review',
 'Selection of relevant features and examples in machine learning',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'Integrating social power into the decision-making of cognitive agents',
 "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems",
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'Algorithm runtime prediction: Methods & evaluation',
 'Wrappers for feature subset selection',
 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics',
 'Quantum computation, quantum theory and AI']

ii) Authors

In [55]:
# scrap authors name

authors = []  #empty list

for i in soup10.find_all('span', class_="sc-1w3fpd7-0 pgLAT"):
    authors.append(i.text)
    
authors

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ',
 'Evans, Richard, Bošnjak, Matko and 5 more',
 'Prakken, Henry, Sartor, Giovanni ',
 'Boden, Margaret A. ',
 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
 'Miller, Tim ',
 'Evans, Richard, Hernández-Orallo, José and 3 more',
 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ',
 'Sutton, Richard S., Precup, Doina, Singh, Satinder ',
 'Bard, Nolan, Foerster, Jakob N. and 13 more',
 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ',
 'Bench-Capon, T.J.M., Dunne, Paul E. ',
 'Bošanský, Branislav, Lisý, Viliam and 3 more',
 'Luo, Wenhan, Xing, Junliang and 4 more',
 'Blum, Avrim L., Langley, Pat ',
 'Arora, Saurabh, Doshi, Prashant ',
 'Aas, Kjersti, Jullum, Martin, Løland, Anders ',
 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ',
 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ',
 'Riveiro, Maria, Thill, Serge ',
 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ',
 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ',
 'Kohavi, Ron, John, George H. ',
 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ',
 'Ying, Mingsheng ']

iii) Published Date

In [57]:
# scrap Published Date

pub_date = []  #empty list

for i in soup10.find_all('span',class_="sc-1thf9ly-2 bKddwo" ):
    pub_date.append(i.text)
    
pub_date

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

iv) Paper URL

In [151]:
# scrap url

url = []  #empty list

for i in soup10.find_all('a'):
    url.append(i.get('href').split())
    
url

[['#skip-to-content-anchor'],
 ['http://www.elsevier.com'],
 ['https://account.elsevier.com/auth'],
 ['https://elsevier.com/about'],
 ['https://www.elsevier.com/connect'],
 ['https://www.elsevier.com/about/careers'],
 ['https://elsevier.com/about'],
 ['https://www.elsevier.com/connect'],
 ['https://www.elsevier.com/about/careers'],
 ['https://www.elsevier.com/rd-solutions'],
 ['https://www.elsevier.com/clinical-solutions'],
 ['https://www.elsevier.com/research-platforms'],
 ['https://www.elsevier.com/research-intelligence'],
 ['https://www.elsevier.com/education'],
 ['https://www.elsevier.com/solutions'],
 ['https://www.elsevier.com/rd-solutions'],
 ['https://www.elsevier.com/clinical-solutions'],
 ['https://www.elsevier.com/research-platforms'],
 ['https://www.elsevier.com/research-intelligence'],
 ['https://www.elsevier.com/education'],
 ['https://www.elsevier.com/solutions'],
 ['https://www.elsevier.com/authors'],
 ['https://www.elsevier.com/editors'],
 ['https://www.elsevier.com/reviewers'],
 ['https://www.elsevier.com/librarians'],
 ['https://www.elsevier.com/strategic-partners'],
 ['https://www.elsevier.com/open-access'],
 ['https://www.elsevier.com/societies'],
 ['https://www.elsevier.com/authors'],
 ['https://www.elsevier.com/editors'],
 ['https://www.elsevier.com/reviewers'],
 ['https://www.elsevier.com/librarians'],
 ['https://www.elsevier.com/strategic-partners'],
 ['https://www.elsevier.com/open-access'],
 ['https://www.elsevier.com/societies'],
 ['https://www.elsevier.com/books-and-journals'],
 ['https://webshop.elsevier.com/?utm_source=ecom&utm_medium=top&utm_campaign=webshop'],
 ['https://www.elsevier.com/books-and-journals'],
 ['https://webshop.elsevier.com/?utm_source=ecom&utm_medium=top&utm_campaign=webshop'],
 ['https://global-checkout.elsevier.com'],
 ['https://account.elsevier.com/auth'],
 ['https://www.sciencedirect.com/science/journal/00043702'],
 ['https://www.editorialmanager.com/artint/default.aspx'],
 ['https://www.elsevier.com/'],
 ['https://www.elsevier.com/search-results?labels=journals'],
 ['/artificial-intelligence'],
 ['/artificial-intelligence/most-downloaded-articles'],
 ['https://www.sciencedirect.com/science/journal/00043702'],
 ['https://www.editorialmanager.com/artint/default.aspx'],
 ['https://www.sciencedirect.com/science/journal/00043702'],
 ['https://www.elsevier.com/journals/artificial-intelligence/0004-3702/guide-for-authors'],
 ['https://www.editorialmanager.com/artint/default.aspx'],
 ['https://authors.elsevier.com/tracking/landingpage/selection.do'],
 ['https://www.elsevier.com/journals/artificial-intelligence/0004-3702/subscribe?subscriptiontype=institutional'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370221000862'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370221000722'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370215000910'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370298000551'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370216300790'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370218305988'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370220301855'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370214001386'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370299000521'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370219300116'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370220301533'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370207000793'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370216300285'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370220301958'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370297000635'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370221000515'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370221000539'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370221000096'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370216300868'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370221000588'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370221000102'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370213001082'],
 ['https://www.sciencedirect.com/science/article/pii/S000437029700043X'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370221000734'],
 ['https://www.sciencedirect.com/science/article/pii/S0004370209001398'],
 ['https://www.sciencedirect.com/science/journal/00043702'],
 ['https://www.sciencedirect.com/user/alerts'],
 ['https://www.sciencedirect.com/user/register?utm_campaign=sd_recommender_ELSJLS&utm_channel=elseco&dgcid=sd_recommender_ELSJLS'],
 ['http://www.elsevier.com/authors/home'],
 ['https://www.editorialmanager.com/artint/default.aspx'],
 ['https://www.editorialmanager.com/artint/default.aspx'],
 ['https://researcheracademy.elsevier.com'],
 ['https://www.elsevier.com/about/policies/copyright/permissions'],
 ['https://webshop.elsevier.com'],
 ['https://service.elsevier.com/app/home/supporthub/publishing/#authors'],
 ['https://authors.elsevier.com/tracking/landingpage/selection.do'],
 ['https://www.elsevier.com/librarians'],
 ['https://www.elsevier.com/journals/artificial-intelligence/0004-3702/subscribe?subscriptiontype=institutional'],
 ['http://www.elsevier.com/editors'],
 ['http://www.elsevier.com/editors/perk'],
 ['https://www.elsevier.com/editors/guest-editors'],
 ['https://service.elsevier.com/app/home/supporthub/publishing/#editors'],
 ['http://www.elsevier.com/reviewers'],
 ['https://www.elsevier.com/reviewers/how-to-review'],
 ['https://www.editorialmanager.com/artint/default.aspx'],
 ['https://www.elsevier.com/reviewers/becoming-a-reviewer-how-and-why#recognizing'],
 ['https://service.elsevier.com/app/home/supporthub/publishing/#reviewers'],
 ['https://www.elsevier.com'],
 ['//www.elsevier.com/legal/elsevier-website-terms-and-conditions'],
 ['//www.elsevier.com/legal/privacy-policy'],
 ['//www.elsevier.com/legal/cookienotice'],
 ['//www.elsevier.com/sitemap'],
 ['https://www.relx.com/']]

# 9) Write a python program to scrape mentioned details from dineout.co.in :

i) Restaurant name

In [98]:
# send get request to the webpage server to get the source code of the page

resaurant_page = requests.get('https://www.dineout.co.in/delhi-restaurants/welcome-back')

In [99]:
resaurant_page

In [100]:
soup11 = BeautifulSoup(resaurant_page.content)
#print(soup11.prettify())

In [74]:
# scrap Restaurant Names

res_name = []  #empty list

for i in soup11.find_all('a', class_ ="restnt-name ellipsis"):
    res_name.append(i.text.split())
    
res_name

[['Tamasha'],
 ['Local'],
 ['Openhouse', 'Cafe'],
 ['Station', 'Bar'],
 ['Ministry', 'Of', 'Beer'],
 ['QBA'],
 ['The', 'G.T.', 'ROAD'],
 ['The', 'Junkyard', 'Cafe'],
 ["Berco's"],
 ['Connaught', 'Clubhouse', 'Microbrewery'],
 ['Farzi', 'Cafe'],
 ['My', 'Bar', 'Headquarters'],
 ['Chido'],
 ['Unplugged', 'Courtyard'],
 ['Ardor', '2.1', 'Restaurant', 'and', 'Lounge'],
 ['38', 'Barracks'],
 ['Sandoz'],
 ['The', 'Luggage', 'Room', 'By', 'Sandoz'],
 ['Out', 'Of', 'The', 'Box', 'Courtyard'],
 ["Chili's", 'American', 'Grill', 'and', 'Bar'],
 ['Ghoomar', 'Traditional', 'Thali', 'Restaurant']]

ii) Cuisine

In [78]:
# scrap Restaurant Cuisines

res_cuisines = []  #empty list

for i in soup11.find_all('span', class_="double-line-ellipsis"):
    res_cuisines.append(i.text.split('|')[-1])
    
res_cuisines

[' Continental, Asian, Italian, North Indian',
 ' North Indian, Asian, Continental',
 ' North Indian, Asian, Italian',
 ' Italian, Chinese, North Indian, Fast Food',
 ' North Indian, Continental, American, Asian',
 ' North Indian, Continental, Italian',
 ' North Indian',
 ' North Indian, Continental, Chinese, Fast Food',
 ' Chinese, Thai',
 ' North Indian, Continental, Asian, Chinese',
 ' Modern Indian, Continental, Finger Food',
 ' North Indian, Chinese',
 ' North Indian, Italian, Continental, Asian, Finger Food',
 ' North Indian, Italian, Chinese, Turkish, Continental',
 ' North Indian, Chinese, Italian, Continental',
 ' North Indian, Chinese, Continental',
 ' North Indian, Chinese, Continental',
 ' Chinese, Italian, North Indian, Continental',
 ' North Indian, Mediterranean, Chinese, Italian',
 ' Mexican, American, Tex Mex',
 ' North Indian, Rajasthani']

iii) Location

In [152]:
#scrap restaurant location

res_location = []  #empty list

for i in soup11.find_all('div', class_="restnt-loc ellipsis"):
    res_location.append(i.text)
    
res_location

['Connaught Place, Central Delhi',
 'Scindia House,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'F-Block,Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi']

iv) Ratings

In [155]:
#scrap restaurant rating

res_rating = []  #empty list

for i in soup11.find_all('div', class_="restnt-rating rating-4"):
    res_rating.append(i.text)
    
res_rating

['4.2',
 '4',
 '4.1',
 '4.1',
 '4',
 '4.3',
 '4.3',
 '4.1',
 '4.3',
 '4.2',
 '4.1',
 '4',
 '4.2',
 '4',
 '3.8',
 '4.3',
 '4',
 '3.9',
 '4.1',
 '4.3',
 '4.1']

v) Image URL

In [159]:
#scrap restaurant image url

res_img_url = []  #empty list

for i in soup11.find_all('img', class_="no-img"):
    res_img_url.append(i.get('data-src'))
    
res_img_url

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/a/j/p20996-145631488756cd9a0796608.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/b/t/p27452-15020105505986dcb6d147f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/j/y/p19748-16474299906231c96621c58.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/i/b/p971-165909823762e3d47db6d56.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/a/d/p32381-1495943585592a49a166fe7.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/e/e/p29906-16183962346076c44ac433d.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/m/u/p31393-15972091555f337a43bb961.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/h/p/p20298-1447661865564991294ad1b.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/t/u/p237-16468990666229af7a72b08.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/c/z/p77626-15833232035e5f98437554f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/y/y/p4199-164188203361dd21b1a3174.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/d/f/p19636-16463919576221f295ae1f1.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/u/d/p97184-1648026866623ae4f24ea25.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/u/y/p20941-15700828565d959028e9f28.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/y/m/p221-16455303976214cd1d7a086.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/y/j/p21171-166019927162f4a167b10af.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/e/u/p80493-16064603115fc0a397716de.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/b/u/p23048-1477373818580eef7a04d08.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/x/t/p83921-16017104805f782990b9b0c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/r/w/p31397-164157705861d87a6224564.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/e/z/p53380-15544492915ca7038b700f1.jpg?tr=tr:n-medium']

In [157]:
# print length
print(len(res_name), len(res_cuisines), len(res_location), len(res_rating), len(res_img_url))

21 21 21 21 21

MAKING DATA FRAME

In [160]:
import pandas as pd

In [165]:
res_df = pd.DataFrame({'RESTAURANT_NAME':res_name, 'CUISINES':res_cuisines, 'LOCATION':res_location,    'RATING':res_rating, 'IMG_URL':res_img_url})

In [166]:
res_df

,RESTAURANT_NAME,CUISINES,LOCATION,RATING,IMG_URL
0,[Tamasha],"Continental, Asian, Italian, North Indian","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
1,[Local],"North Indian, Asian, Continental","Scindia House,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
2,"[Openhouse, Cafe]","North Indian, Asian, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
3,"[Station, Bar]","Italian, Chinese, North Indian, Fast Food","F-Block,Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
4,"[Ministry, Of, Beer]","North Indian, Continental, American, Asian","M-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
5,[QBA],"North Indian, Continental, Italian","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
6,"[The, G.T., ROAD]",North Indian,"M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
7,"[The, Junkyard, Cafe]","North Indian, Continental, Chinese, Fast Food","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
8,[Berco's],"Chinese, Thai","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,"[Connaught, Clubhouse, Microbrewery]","North Indian, Continental, Asian, Chinese","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
10,"[Farzi, Cafe]","Modern Indian, Continental, Finger Food","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
11,"[My, Bar, Headquarters]","North Indian, Chinese","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
12,[Chido],"North Indian, Italian, Continental, Asian, Fi...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
13,"[Unplugged, Courtyard]","North Indian, Italian, Chinese, Turkish, Cont...","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
14,"[Ardor, 2.1, Restaurant, and, Lounge]","North Indian, Chinese, Italian, Continental","Connaught Place, Central Delhi",3.8,https://im1.dineout.co.in/images/uploads/resta...
15,"[38, Barracks]","North Indian, Chinese, Continental","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
16,[Sandoz],"North Indian, Chinese, Continental","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
17,"[The, Luggage, Room, By, Sandoz]","Chinese, Italian, North Indian, Continental","M-Block,Connaught Place, Central Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
18,"[Out, Of, The, Box, Courtyard]","North Indian, Mediterranean, Chinese, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
19,"[Chili's, American, Grill, and, Bar]","Mexican, American, Tex Mex","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
20,"[Ghoomar, Traditional, Thali, Restaurant]","North Indian, Rajasthani","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...

# 10) Write a python program to scrape the details of top publications from Google Scholar from
https://scholar.google.com/citations?view_op=top_venues&hl=en

i) Rank

In [101]:
# send get request to the webpage server to get the source code of the page

scholar = requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')

In [102]:
scholar

In [103]:
soup12=BeautifulSoup(scholar.content)
#print(soup12.prettify())

In [9]:
#scrap scholar rank

scho_rank = []  #empty list

for i in soup12.find_all('td', class_="gsc_mvt_p"):
    scho_rank.append(i.text)
    
scho_rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.',
 '31.',
 '32.',
 '33.',
 '34.',
 '35.',
 '36.',
 '37.',
 '38.',
 '39.',
 '40.',
 '41.',
 '42.',
 '43.',
 '44.',
 '45.',
 '46.',
 '47.',
 '48.',
 '49.',
 '50.',
 '51.',
 '52.',
 '53.',
 '54.',
 '55.',
 '56.',
 '57.',
 '58.',
 '59.',
 '60.',
 '61.',
 '62.',
 '63.',
 '64.',
 '65.',
 '66.',
 '67.',
 '68.',
 '69.',
 '70.',
 '71.',
 '72.',
 '73.',
 '74.',
 '75.',
 '76.',
 '77.',
 '78.',
 '79.',
 '80.',
 '81.',
 '82.',
 '83.',
 '84.',
 '85.',
 '86.',
 '87.',
 '88.',
 '89.',
 '90.',
 '91.',
 '92.',
 '93.',
 '94.',
 '95.',
 '96.',
 '97.',
 '98.',
 '99.',
 '100.']

ii) Publication

In [10]:
#scrap publication

scho_pub = []  #empty list

for i in soup12.find_all('td', class_="gsc_mvt_t"):
    scho_pub.append(i.text)
    
scho_pub

['Nature',
 'The New England Journal of Medicine',
 'Science',
 'IEEE/CVF Conference on Computer Vision and Pattern Recognition',
 'The Lancet',
 'Advanced Materials',
 'Nature Communications',
 'Cell',
 'International Conference on Learning Representations',
 'Neural Information Processing Systems',
 'JAMA',
 'Chemical Reviews',
 'Proceedings of the National Academy of Sciences',
 'Angewandte Chemie',
 'Chemical Society Reviews',
 'Journal of the American Chemical Society',
 'IEEE/CVF International Conference on Computer Vision',
 'Nucleic Acids Research',
 'International Conference on Machine Learning',
 'Nature Medicine',
 'Renewable and Sustainable Energy Reviews',
 'Science of The Total Environment',
 'Advanced Energy Materials',
 'Journal of Clinical Oncology',
 'ACS Nano',
 'Journal of Cleaner Production',
 'Advanced Functional Materials',
 'Physical Review Letters',
 'Scientific Reports',
 'The Lancet Oncology',
 'Energy & Environmental Science',
 'IEEE Access',
 'PLoS ONE',
 'Science Advances',
 'Journal of the American College of Cardiology',
 'Applied Catalysis B: Environmental',
 'Nature Genetics',
 'BMJ',
 'Circulation',
 'European Conference on Computer Vision',
 'International Journal of Molecular Sciences',
 'Nature Materials',
 'Chemical engineering journal',
 'AAAI Conference on Artificial Intelligence',
 'Journal of Materials Chemistry A',
 'ACS Applied Materials & Interfaces',
 'Nature Biotechnology',
 'The Lancet Infectious Diseases',
 'Frontiers in Immunology',
 'Applied Energy',
 'Nano Energy',
 'Nature Energy',
 'Meeting of the Association for Computational Linguistics (ACL)',
 'The Astrophysical Journal',
 'Gastroenterology',
 'Nature Methods',
 'IEEE Transactions on Pattern Analysis and Machine Intelligence',
 'Cochrane Database of Systematic Reviews',
 'Blood',
 'Neuron',
 'Nano Letters',
 'Morbidity and Mortality Weekly Report',
 'European Heart Journal',
 'Nature Nanotechnology',
 'ACS Catalysis',
 'Nature Neuroscience',
 'American Economic Review',
 'Journal of High Energy Physics',
 'IEEE Communications Surveys & Tutorials',
 'Annals of Oncology',
 'Nutrients',
 'Accounts of Chemical Research',
 'Immunity',
 'Environmental Science & Technology',
 'Nature Reviews. Molecular Cell Biology',
 'Gut',
 'Physical Review D',
 'ACS Energy Letters',
 'Monthly Notices of the Royal Astronomical Society',
 'Conference on Empirical Methods in Natural Language Processing (EMNLP)',
 'Clinical Infectious Diseases',
 'Cell Metabolism',
 'Nature Reviews Immunology',
 'Joule',
 'Nature Photonics',
 'International Journal of Environmental Research and Public Health',
 'Environmental Pollution',
 'Computers in Human Behavior',
 'Frontiers in Microbiology',
 'Nature Physics',
 'Small',
 'Cell Reports',
 'Molecular Cell',
 'Clinical Cancer Research',
 'Bioresource Technology',
 'Journal of Business Research',
 'Molecular Cancer',
 'Sensors',
 'Nature Climate Change',
 'IEEE Internet of Things Journal']

iii) h5-index

In [7]:
#scrap h5 index

scho_h5_ind = []  #empty list

for i in soup12.find_all('a', class_="gs_ibl gsc_mp_anchor"):
    scho_h5_ind.append(i.text)
    
scho_h5_ind

['444',
 '432',
 '401',
 '389',
 '354',
 '312',
 '307',
 '300',
 '286',
 '278',
 '267',
 '265',
 '256',
 '245',
 '244',
 '242',
 '239',
 '238',
 '237',
 '235',
 '227',
 '225',
 '220',
 '213',
 '211',
 '211',
 '210',
 '207',
 '206',
 '202',
 '202',
 '200',
 '198',
 '197',
 '195',
 '192',
 '191',
 '190',
 '189',
 '186',
 '183',
 '181',
 '181',
 '180',
 '178',
 '177',
 '175',
 '173',
 '173',
 '173',
 '172',
 '170',
 '169',
 '167',
 '166',
 '165',
 '165',
 '165',
 '165',
 '164',
 '164',
 '163',
 '163',
 '163',
 '163',
 '162',
 '160',
 '160',
 '159',
 '159',
 '159',
 '159',
 '158',
 '158',
 '155',
 '155',
 '155',
 '155',
 '155',
 '154',
 '153',
 '153',
 '152',
 '152',
 '152',
 '152',
 '152',
 '152',
 '151',
 '151',
 '150',
 '149',
 '149',
 '146',
 '146',
 '145',
 '145',
 '145',
 '144',
 '144']

iv) h5-median

In [8]:
#scrap h5 median

scho_h5_med = []  #empty list

for i in soup12.find_all('span', class_="gs_ibl gsc_mp_anchor"):
    scho_h5_med.append(i.text)
    
scho_h5_med

['667',
 '780',
 '614',
 '627',
 '635',
 '418',
 '428',
 '505',
 '533',
 '436',
 '425',
 '444',
 '364',
 '332',
 '386',
 '344',
 '415',
 '550',
 '421',
 '389',
 '324',
 '311',
 '300',
 '315',
 '277',
 '273',
 '280',
 '294',
 '274',
 '329',
 '290',
 '303',
 '278',
 '294',
 '276',
 '246',
 '297',
 '307',
 '301',
 '321',
 '253',
 '265',
 '224',
 '296',
 '220',
 '223',
 '315',
 '296',
 '228',
 '217',
 '232',
 '314',
 '304',
 '234',
 '254',
 '296',
 '293',
 '243',
 '229',
 '231',
 '207',
 '302',
 '265',
 '264',
 '220',
 '248',
 '263',
 '220',
 '304',
 '243',
 '214',
 '211',
 '242',
 '214',
 '340',
 '235',
 '217',
 '212',
 '194',
 '249',
 '278',
 '211',
 '292',
 '233',
 '228',
 '225',
 '222',
 '214',
 '225',
 '222',
 '196',
 '205',
 '202',
 '201',
 '190',
 '233',
 '209',
 '201',
 '228',
 '212']